
<div [formGroup]="formGroup">
  <p-colorPicker [formControlName]="controlName" appendTo="body" (onChange)="onColorChange()" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-colorPicker>
  <input type="text" [formControlName]="controlName" [value]="inputValue" (change)="onInputChange($event)"/>
  <app-validation-error [control]="formGroup.get(controlName)"></app-validation-error>
</div>



