<p-confirmDialog header="{{ 'ButtonCancel.ConfirmationTitle' | translate }}" width="425" appendTo="body" message="{{ 'ButtonCancel.Confirm' | translate }}" #cd [closable]="false">
  <p-footer>
      <button type="button" class="btn btn--sml btn--clear" (click)="cd.accept()">
          <i class="material-icons type--sml valign--neg--2">check</i> {{ 'ButtonCancel.Yes' | translate }}
      </button>
      <span class="btn__separator"></span>
      <button type="button" class="btn btn--sml btn--clear" (click)="cd.reject()">
        <i class="material-icons type--sml valign--neg--2">close</i> {{ 'ButtonCancel.No' | translate }}
      </button>
  </p-footer>
</p-confirmDialog>
