<button type="button" class="btn btn--sml btn--clear" pButton (click)="cancelCurrentActivity()" [disabled]="!url">
  <i class="material-icons type--sml valign--neg--2">close</i> {{ 'ButtonCancel.Text' | translate }}
</button>


