<button class="btn btn--sml btn--clear" (click)="goBack()" type="button" [disabled]="disabled">
  <i class="material-icons type--sml valign--neg--2">chevron_left</i> {{ 'ButtonPrevious.Text' | translate }}
</button>
