<ng-template #noCertificates>
    {{'SelectProfile.Table.NoCertificateData' | translate}}
</ng-template>
<div *ngIf="certificates?.length > 0 else noCertificates">
  <table class="table">
    <thead class="table__header table__header--alt">
      <tr class="table__row">
        <th class="table__header__cell table__header__cell--inner table--inneralign">{{'SelectProfile.Table.CertificateCommonName' | translate}}</th>
        <th class="table__header__cell table__header__cell--inner">{{'SelectProfile.Table.CertificateTemplate' | translate}}</th>
        <th class="table__header__cell table__header__cell--inner">{{'SelectProfile.Table.CertificateStatus' | translate}}</th>
        <th class="table__header__cell table__header__cell--inner">{{'SelectProfile.Table.CertificateExpires' | translate}}</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngFor="let certificate of certificates" class="table__row">
        <td class="table__cell table--inneralign" attr.aria-label="{{'SelectProfile.Table.CertificateCommonName' | translate}}">{{certificate.commonName}}</td>
        <td class="table__cell" attr.aria-label="{{'SelectProfile.Table.CertificateTemplate' | translate}}">{{certificate.certificateTemplate}}</td>
        <td class="table__cell" attr.aria-label="{{'SelectProfile.Table.CertificateStatus' | translate}}">{{ 'ProfileStatus.'+certificate.status | translate }}</td>
        <td class="table__cell" attr.aria-label="{{'SelectProfile.Table.CertificateExpires' | translate}}">{{certificate.expirationDate | localizedDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
