<app-page-header [pageTitle]="pageTitle" [stepTitle]="stepTitle" [stepDescription]="'SelectProfile.Description'"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--sml btn--clear" [disabled]="selectedProfile == null" (click)="goToNextStep(selectedProfile)">
    {{ 'ButtonNext.Text' | translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
  </button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="firstStepUrl"></app-cancel-button>
</div>
<div class="layout--main__content">
  <ng-template #noProfiles>
    <div *ngIf="!isLoading">{{ noDataMessage | translate}}</div>
  </ng-template>
  <div class="table__holder table__holder--alt" *ngIf="profileStub?.profiles && profileStub?.profiles.length > 0 else noProfiles">
    <table class="table">
      <thead class="table__header">
        <tr class="table__row">
          <th class="table__header__cell w--54"></th>
          <th class="table__header__cell">{{'SelectProfile.Table.Profile' | translate}}</th>
          <th class="table__header__cell">{{'SelectProfile.Table.Status' | translate}}</th>
          <th class="table__header__cell">{{'SelectProfile.Table.Issued' | translate}}</th>
          <th class="table__header__cell w--54"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of profileStub.profiles" class="table__body">
        <tr [ngClass]="{'is-disabled': isProfileDisabled(item)}" class="table__row" (click)="onProfileSelectionChange(item)">
          <td class="table__cell table__cell--middle pos--rel">
            <input type="radio" class="input--radio input--radio--alt table__input" name="profileGroup" [checked]="isProfileSelected(item)"
                   [disabled]="isProfileDisabled(item)" [value]="item.id" [attr.id]="item.id" (change)="onProfileSelectionChange(item)">
            <label [attr.for]="item.id" class="table__label"></label>
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Profile' | translate}}">
            {{item.name}}
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Status' | translate}}">
            {{ 'ProfileStatus.'+item.status | translate }}
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Issued' | translate}}">
            {{item.issuanceDate | localizedDate }}
          </td>
          <td class="table__cell table__cell--middle">
            <a (click)="toogleDetailsVisibility(item, $event)">
              <i-chevron-down [hidden]="expandedProfiles.indexOf(item.id, 0) > -1"></i-chevron-down>
              <i-chevron-up [hidden]="expandedProfiles.indexOf(item.id, 0) == -1"></i-chevron-up>
            </a>
          </td>
        </tr>
        <tr [ngClass]="{'display--none': expandedProfiles && expandedProfiles.indexOf(item.id, 0) == -1 }" class="table__row table__row--alt">
          <td colspan="5" class="table__cell padd--none">
            <app-certificate-list [certificates]="item.certificates"></app-certificate-list>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
