<div class="layout" [ngClass]="{'is-active': !isMenuVisible }">
   <ng4-loading-spinner [timeout]="300000"> </ng4-loading-spinner> <!--I set this value on 5 minutes, because default timeout is 5 seconds, and timeout can't be disabled  https://github.com/amitmahida92/ng4-loading-spinner/issues/46-->
  <app-header (menuChangeVisibility)="onMenuChangeVisibility($event)"></app-header>
  <main role="main">
    <app-sidebar class="layout--aside"></app-sidebar>
    <main role="main" class="layout--main">
      <router-outlet></router-outlet>
    </main>
    <app-confirmation-dialog></app-confirmation-dialog>
    <simple-notifications [options]='options'></simple-notifications>
  </main>
</div>
