<!-- <p-calendar #calendar
  [(ngModel)] ="value"
  (onSelect)="onChange($event)"
  [showIcon]="true"
  [dateFormat]="dateFormat"
  [locale]="locale">
</p-calendar> -->
<div  *ngIf="isIE  else showCalendar">
    <input
      [(ngModel)]="dateModel"
      (ngModelChange)="onDateModelChange()"
      type="text"
      class="input input--sml"/>
      <app-validation-error [control]="control"></app-validation-error>
  </div>
<div [formGroup]="group">


  <ng-template #showCalendar>
      <p-calendar #myCalendar
      [formControl]="control"
      [showIcon]="true"
      [dateFormat]="format"
      [locale]="locale"
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'">
    </p-calendar>
  </ng-template>
</div>
