<p-dialog [(visible)]="showPannel" modal="true" closeOnEscape="false" [appendTo]="'body'" [closable]="false" >
<p-header>
  {{ 'ManageRequests.DenyPopupTitle' | translate }}
</p-header>

<div>
  <textarea [(ngModel)]="comment" class="input input--textarea"></textarea>
</div>
<p-footer>
    <button type="button" (click)="onClose()" class="btn btn--sml btn--clear">
      <i class="material-icons type--sml valign--neg--2">close</i> {{ 'ButtonCancel.Text' | translate }}
    </button>
    <button type="button" (click)="onContinue()" class="btn btn--sml btn--clear">
      <i class="material-icons type--sml valign--neg--2">chevron_right</i> {{ 'ButtonContinue.Text' | translate  }}
    </button>
</p-footer>

</p-dialog>



