<div *ngIf="canDistributeSecrets" class="table-responsive spc--top--lrg spc--bottom--lrg">
      <table class="table">
          <thead class="table__header">
            <tr class="table__row table__row--nopointer">
              <th class="table__header__cell">{{ 'ManageRequests.Date' | translate }}</th>
              <th class="table__header__cell">{{ 'ManageRequests.IssuedBy' | translate}}</th>
              <th class="table__header__cell">{{ 'ManageRequests.User' | translate }}</th>
              <th class="table__header__cell">{{ 'ManageRequests.Secrets' | translate }}</th>
            </tr>
          </thead>
          <tbody class="table__body">
            <tr *ngFor="let secret of secrets" class="table__row table__row--nopointer">
              <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Date' | translate }}">{{ secret.requestDetails.dateSubmitted | localizedDate }}</td>
              <td class="table__cell" attr.aria-label="{{ 'ManageRequests.IssuedBy' | translate}}">{{ secret.requestDetails.originatorUserName }}</td>
              <td class="table__cell" attr.aria-label="{{ 'ManageRequests.User' | translate }}">{{ secret.requestDetails.targetUserName }}</td>
              <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Secrets' | translate }}">
                <ul>
                  <li *ngFor="let text of secret.secrets" class="spc--bottom--tny">{{ text }}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
  <hr class="spc--top--lrg" />
</div>

