<p-dialog [(visible)]="display" *ngIf="requestDetails"
  modal="true" closeOnEscape="false" [appendTo]="'body'" [closable]="false">
  <p-header>
    {{ 'ManageRequests.RequestDetails' | translate }}
  </p-header>

  <table class="table table-striped" >
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.ProfileTemplate' | translate }}</th>
      <td>
        <div *ngIf="requestDetails.profileTemplate && requestDetails.profileTemplate.name else notFound">{{ requestDetails.profileTemplate.name }}</div>
        <ng-template #notFound>{{ 'ManageRequests.ProfileTemplateNotFound' | translate }}</ng-template>
      </td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.Submitted' | translate }}</th>
      <td>{{ requestDetails.dateSubmitted | localizedDate }}</td>
    </tr>
    <tr *ngIf="requestDetails.dateCompleted else notCompleted">
      <th class="type--left padd--right--med">{{ 'ManageRequests.Completed' | translate }}</th>
      <td>{{ requestDetails.dateCompleted | localizedDate }}</td>
    </tr>
    <ng-template #notCompleted>
        <tr>
            <th class="type--left padd--right--med">{{ 'ManageRequests.Completed' | translate }}</th>
            <td>{{ 'ManageRequests.NotCompleted' | translate }}</td>
          </tr>
    </ng-template>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.Priority' | translate }}</th>
      <td>{{ requestDetails.priority }}</td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.Status' | translate }}</th>
      <td>{{'ManageRequests.RequestStatusEnum.'+requestDetails.requestState | translate}}</td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.IssuedBy' | translate }}</th>
      <td>{{ requestDetails.originatorUserName }}</td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.IssuedFor' | translate }}</th>
      <td>{{ requestDetails.targetUserName }}</td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.TargetType' | translate }}</th>
      <td>{{'ManageRequests.RequestTargetTypeNames.'+requestDetails.targetForm | translate}}</td>
    </tr>
    <tr>
      <th class="type--left padd--right--med">{{ 'ManageRequests.Comment' | translate }}</th>
      <td *ngIf="requestDetails !== null else noComment">{{ requestDetails.comment }}</td>
      <ng-template #noComment>
        <td></td>
      </ng-template>
    </tr>
    <tr *ngFor="let item of dataCollectionItems">
      <th class="type--left padd--right--med">{{ item.key }}</th>
      <td>{{ item.value }}</td>
    </tr>
    <tr *ngIf="requestDetails.requestEventHistory">
      <th class="type--left padd--right--med">
        {{ 'ManageRequests.DenialReason' | translate }}
      </th>
      <td>
        {{ requestDetails.requestEventHistory.eventDetails }}
      </td>
    </tr>
  </table>

  <p-footer>
    <button type="button" (click)="onClose()" class="btn btn--sml btn--clear">
      <i class="material-icons type--sml valign--neg--2">close</i> {{ 'ButtonCancel.Text' | translate}}
    </button>
  </p-footer>
</p-dialog>
