
<button class="btn btn--sml btn--clear" [disabled]="!validation.distributeSecrets" (click)="distributeSecretsAction()">
  <i class="material-icons type--sml valign--neg--2">swap_horiz</i>
  {{ 'ManageRequests.DistributeSecrets' | translate }}
  <span *ngIf="isValidating" class="btn__loader"></span>
</button>
<span class="btn__separator"></span>
<button class="btn btn--sml btn--clear" [disabled]="!validation.abandon" (click)="abandonAction()">
  <i class="material-icons type--sml valign--neg--2">eject</i>
  {{ 'ManageRequests.Abandon' | translate }}
  <span *ngIf="isValidating" class="btn__loader"></span>
</button>
<span class="btn__separator"></span>
<button class="btn btn--sml btn--clear" [disabled]="!validation.deny" (click)="denyAction()">
  <i class="material-icons type--sml valign--neg--2">not_interested</i>
  {{ 'ManageRequests.Deny' | translate }}
  <span *ngIf="isValidating" class="btn__loader"></span>
</button>
<span class="btn__separator"></span>
<button class="btn btn--sml btn--clear" [disabled]="!validation.approve" (click)="approveAction()">
  <i class="material-icons type--sml valign--neg--2">check</i>
  {{ 'ManageRequests.Approve' | translate }}
  <span *ngIf="isValidating" class="btn__loader"></span>
</button>
<span class="btn__separator"></span>
<button class="btn btn--sml btn--clear" [disabled]="!validation.cancel" (click)="cancelAction()">
  <i class="material-icons type--sml valign--neg--2">close</i>
  {{ 'ManageRequests.Cancel' | translate }}
  <span *ngIf="isValidating" class="btn__loader"></span>
</button>

<app-deny-popup *ngIf="showPopup" [showPannel]="showPopup" (displayChange)="onDialogClose($event)"></app-deny-popup>


