<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="filters">
    <div class="row">
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label>{{ 'ManageRequests.RequestType' | translate }}</label>
          <select class="input input--select input--sml" formControlName="requestTypes">
            <option *ngFor="let type of requestTypes" [ngValue]="type">{{ 'ManageRequests.RequestTypeEnum.' + type | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label>{{ 'ManageRequests.Originator' | translate }}</label>
          <input type="text" class="input input--sml" formControlName="originator">
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label class="label--alt">{{ 'ManageRequests.From' | translate }}</label>
          <app-date-picker [controlName]="'submittedFrom'" [group]="searchForm" [control]="searchForm.get('submittedFrom')"></app-date-picker>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label>{{ 'ManageRequests.Status' | translate }}</label>
          <select class="input input--select input--sml" formControlName="requestStatuses">
            <option *ngFor="let status of requestStatuses" [ngValue]="status">{{ 'ManageRequests.RequestStatusEnum.' + status | translate }}</option>
          </select>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label>{{ 'ManageRequests.TargetUser' | translate }}</label>
          <input type="text" class="input input--sml" formControlName="targetUser">
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
        <div class="field">
          <label class="label--alt">{{ 'ManageRequests.To' | translate }}</label>
          <app-date-picker [controlName]="'submittedTo'" [group]="searchForm" [control]="searchForm.get('submittedTo')"></app-date-picker>
        </div>
      </div>
    </div>
    <div class="filters__action">
      <button type="submit" class="btn btn--primary btn--filters">
        <i class="material-icons type--lrg align--v--middle">search</i>
      </button>
    </div>
  </div>
</form>
