<div class="heading heading--primary ddd">
  <h3 class="heading__title">{{pageTitle | translate}}</h3>
  <app-page-path-subtitle></app-page-path-subtitle>
</div>
<div class="heading heading--secondary">
  <div class="heading--secondary__title" *ngIf="stepTitle">
    <strong>{{stepTitle | translate}}</strong>
  </div>
  <div class="heading--secondary__description" *ngIf="stepDescription">
    <p>{{stepDescription | translate}}</p>
  </div>
  <div *ngIf="headerData && headerData.userName" class="heading--secondary__description">
    <span>{{'PageTitle.SelectedUser' | translate}}: </span>
    <strong>{{ headerData.userName }}</strong>
  </div>
  <div *ngIf="headerData && headerData.profileTemplateName" class="heading--secondary__description">
    <span>{{'PageTitle.SelectedProfileTemplate' | translate}}: </span>
    <strong>{{ headerData.profileTemplateName }}</strong>
  </div>
  <div *ngIf="headerData && headerData.profileName" class="heading--secondary__description">
    <span>{{'UnblockSmartcard.SelectedProfile' | translate}}:</span>
    <strong>{{ headerData.profileName }}</strong>
  </div>
</div>
