<div *ngIf="headerData">
  <div class="heading">
    <h3 class="heading__title">{{ headTitle | translate}}</h3>
  </div>
  <div class="heading__steps">
    <div class="heading__steps__title">
      <strong>{{ stepTitle | translate}}</strong>
    </div>
    <div class="heading__steps__description" *ngIf="headerData.userName">
      <span>{{'PageTitle.SelectedUser' | translate}}: </span>
      <strong>{{ headerData.userName }}</strong>
    </div>
    <div *ngIf="headerData.profileTemplateName" class="heading__steps__description">
      <span>{{'PageTitle.SelectedProfileTemplate' | translate}}: </span>
      <strong>{{ headerData.profileTemplateName }}</strong>
    </div>
  </div>
</div>
