<div *ngIf="model">
  <div class="heading heading--primary">
    <h3 class="heading__title">{{ model.title | translate}}</h3>
  </div>
  <div class="heading heading--tertiary">
    <button class="btn btn--primary btn--sml" (click)="continue()">{{ 'FinishRequest.ContinueButton' | translate }}</button>
  </div>
  <div class="layout--main__content">
    <div class="type--center">
      <p>{{ model.description | translate}}</p>
    </div>
    <div *ngIf="model.otp" class="type--center">
      <p>{{ 'FinishRequest.OneTimePassword' | translate }} : {{ model.otp }} </p>
    </div>
    <p *ngIf="error && !model.isSuccessful">{{ error.message }}</p>
  </div>
</div>




