/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    @mixin typomatic-init;
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: #f0f0f0;
    font-family: $ff-sans;
    color: $color-text;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
