/*------------------------------------*\
    # components.heading
\*------------------------------------*/

.heading {
    &--primary {
        padding: calc($unit * 1.5) calc($unit * 3);
        border-bottom: 1px solid $grey-1;

        @media (--screen-from-lrg) {
            padding: calc($unit * 2) calc($unit * 3);
            border-bottom: 1px solid $grey-2;
        }

        &__title {
            display: inline-block;
            font-family: $ff-serif;
            color: var(--page-title-font-color);

            @media (--screen-from-med) {
                margin-bottom: calc($unit * 2);
                padding: 0 calc($unit * 24);
            }
        }
    }


    &--secondary {
        overflow: hidden;
        padding: calc($unit * 1.5) calc($unit * 3);
        border-bottom: 1px solid $grey-1;

        @media (--screen-from-lrg) {
            padding: $unit calc($unit * 3);
            border-bottom: 1px solid $grey-2;
        }

        &__title {
            position: relative;

            @media (--screen-from-lrg) {
                float: left;
                padding-right: calc($unit * 4);

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: calc($unit / 3);
                    right: calc($unit * 2);
                    width: 1px;
                    height: calc($unit * 3);
                    background-color: $grey-2;
                }
            }
        }

        &__description {
            @media (--screen-from-lrg) {
                float: left;
                margin-right: calc($unit * 2);
            }
        }
    }

    

    &--tertiary {
        padding: calc($unit * 1.5) $unit;
        border-bottom: 1px solid $grey-2;

        @media (--screen-from-lrg) {
            padding: $unit;
        }

        &.is-active {
            position: fixed;
            top: $header;
            left: 0;
            width: 100%;
            padding: calc($unit * 2.5) calc($unit * 3);
            background-color: $grey-1;
            border-bottom: 1px solid $grey-2;
            transition: ease .2s all;
            z-index: 2;

            @media (--screen-from-xlrg) {
                left: $layout-aside;
            }
        }


    }
}

 .sticky-wrapper {
    padding: 9px 6px;

    @media (--screen-from-med) {
        height: 60px;
    }
}
