/*------------------------------------*\
    # components.layout
\*------------------------------------*/

.layout {
    &.is-active {
        @media (--screen-to-xlrg) {
            .layout--aside {
                left: 0;
            }
        }
    }

    &--aside {        
        position: fixed;        
        top: $header;
        bottom: 0;
        left: -100%;
        width: $layout-aside;        
        overflow-y: auto;
        transition: ease .4s all;
        z-index: 9;

        @media (--screen-from-xlrg) {
            left: 0;
        }
    }

    &--main {
        position: fixed;
        top: $header;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        transition: ease .4s all;

        @media (--screen-from-xlrg) {
            left: $layout-aside;
        }

        &__content {
            padding: calc($unit * 2) calc($unit * 3);
        }
    }
}