/*------------------------------------*\
    # components.settings
\*------------------------------------*/

.settings {
    &__title {
        margin-bottom: $unit;
        padding-bottom: $unit;
        border-bottom: 1px solid $grey-1;
    }
}