/*------------------------------------*\
    # components.loader
\*------------------------------------*/

.loader {
    &--horizontal {
        &__holder {
            position: relative;
            width: 100%;
            height: $unit;
            margin: calc($unit * 3) 0 calc($unit * 4);
            overflow: hidden;
            background: #fff;
        }

        &__bar {
            position: absolute;
            top: calc($unit / 3);
            left: 0;
            width: calc($unit * 10);
            height: calc($unit / 3);
            background-color: $color-primary;
            animation: loaderHorizontal 2s infinite;
        }
    }
}

@keyframes loaderHorizontal {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}