/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    &__action {
        &--primary {
            margin-bottom: calc($unit * 2);
            text-align: center;

            @media (--screen-from-med) {
                text-align: left;
            }

            @media (--screen-from-lrg) {
                margin-bottom: 0;
            }
        }

        &--secondary {
            @media (--screen-from-lrg) {
                text-align: right;
            }
        }

        &__btn {
            width: 100%;
            margin-bottom: $unit;

            @media (--screen-from-sml) {
                width: calc(50% - 2px);
            }

            @media (--screen-from-med) {
                width: auto;
                margin-bottom: 0;
            }
        }
    }
}