/*------------------------------------*\
    # components.nav
\*------------------------------------*/

.nav {
    width: 100%;

    &__title {
        width: 100%;
        margin-bottom: $unit;
        padding: calc($unit * 2.5) calc($unit * 4);
        color: $grey-dark;
        border-bottom: 1px solid $color-secondary;
    }

    &--primary {
        &__list {
            width: 100%;
        }

        &__link {
            position: relative;
            display: block;
            padding: $unit calc($unit * 4);
            color: var(--menu-font-color);
            cursor: pointer;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: calc($unit / 2);
                height: 100%;
            }

            &:focus, &:hover {
              color: $color-primary;
            }

            &--primary {
                &:before {
                    background-color: purple;
                }
            }

            &--secondary {
                &:before {
                    background-color: yellow;
                }
            }

            &--tertiary {
                &:before {
                    background-color: orange;
                }
            }
        }
    }

    &--secondary {
        &__list {
            display: none;
            position: relative;
            width: 100%;
            background-color: $color-secondary;

            &.active {
                display: block;
            }
        }

        &__link {
            position: relative;
            display: block;
            padding: calc($unit + 3px) calc($unit * 2) calc($unit + 3px) calc($unit * 6);
            color: #fff;
            cursor: pointer;

            &:focus, &:hover {
                color: $color-primary;
            }

            &.is-active {
                color: $color-primary;
            }
        }
    }
}
