/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
    position: fixed;
    left: 0;
    right: 0;
    height: $header;
    background-color: #2d3033;
    overflow: hidden;
    transition: ease .5s all;
    z-index: 999;

    &.is-active {
        @media (--screen-from-xlrg) {
            left: 0;
        }
    }

    &__logo {
        display: table-cell;
        vertical-align: middle;
        padding: calc($unit * 2) 0;

        &__outer {            
            display: table;
            width: auto;
            height: $header;
            float: left;
            padding: 0 calc($unit * 3.25);
    
            @media (--screen-from-xlrg) {
                width: $layout-aside;
                padding: 0 calc($unit * 4);
            }
        }

        &__inner {
            display: table-row;
        }

        &__image {
            max-width: calc($unit * 20);
            max-height: calc($unit * 6);

            @media (--screen-from-xlrg) {
                max-width: calc($unit * 39 - 2px);
            }
        }
    }

    &__select {
        float: right;
        height: $header;

        &__label {
            display: none;
            color: #fff;

            @media (--screen-from-sml) {
                display: inline;
                margin-right: $unit;
            }
        }
    }

    &__text {
        display: none;
        float: left;
        padding: calc($unit * 3) calc($unit * 3 + 2px);
        color: #fff;

        @media (--screen-from-lrg) {
            display: block;
        }
    }
}