/*------------------------------------*\
    # components.pagination
\*------------------------------------*/

.pagination {
    display: inline-block;

    .ui-paginator {
        background-image: none;
        background: transparent;
        border: none;
    }
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: $color-primary;
    color: #ffffff;
    border-color: $color-primary;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: $color-primary;
    color: #fff;
    border: 1px solid $color-primary;
}

.ui-paginator a {
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        background: $color-primary;
        color: #fff;
    }
}