/*------------------------------------*\
    # components.sidebar
\*------------------------------------*/

.sidebar {
    &__logo {
        display: block;
        height: $header;
        padding: calc($unit * 3) calc($unit * 4);
        background-color: $color-secondary;

        &__image {
            width: calc($unit * 16);
        }
    }

    &__footer {
      margin-top: $unit;
      padding: calc($unit * 2.5) calc($unit * 4);
      color: $grey-dark;
      border-top: 1px solid $color-secondary;

      /* @media (--screen-from-sidebar-footer) {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          margin-top: 0;
      } */
  }


  &__message {
      padding: calc($unit * 4);
      border-bottom: 1px solid $color-secondary;
      color: #fff;

      @media (--screen-from-med) {
          display: none;
      }
  }
}
