/*------------------------------------*\
    # modules.label
\*------------------------------------*/

@-moz-document url-prefix() {
    .label {
        &--alt {
            display: block;
            margin-bottom: 1px;

            @media (--screen-from-med) {
                margin-bottom: calc($unit / 3);
            }
        }
    }
}