/*------------------------------------*\
    # modules.container
\*------------------------------------*/

 .container {
    margin: 0 auto;
    max-width: 1440px;

    /*make container stretch from one side to another*/
    &--fluid {
        margin: 0;
        width: 100%;
    }

    &--padd {
        width: 100%;
        padding: 0 $spacer;
    }

    &--sml {
    	max-width: 768px;
    }
}
