/*------------------------------------*\
    # modules.btn
\*------------------------------------*/

.btn {

    /**
     * Button base
     */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;

    &:focus {
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    /**
     * Button base project styling
     */
    font-family: $ff-sans;
    font-weight: $type-weight-regular;
    text-transform: none;
    letter-spacing: 0em;
    transition: ease .2s all;

    /**
     * Button styles
     */
    &--primary {
        background: $color-primary;
        color: white;
        &:hover {
            background: color($color-primary blackness(+10%));
        }
    }
    &--secondary {
        background: $color-secondary;
        color: white;
        &:hover {
            background: color($color-secondary blackness(+10%));
        }
    }
    &--ghost {
        background-color: transparent;
        color: $color-primary;
        &:hover {
            color: color($color-primary blackness(+10%));
        }

        &--warning {
            color: $color-warning;
            &:hover {
                color: color($color-warning blackness(+10%));
            }
        }
    }
    &--light {
        background-color: $grey-2;
        color: $color-text;
        &:hover {
            background-color: color($grey-2 blackness(+10%));
        }
    }

    &--default {
        background: $grey-1;
        color: $color-primary;
        &:hover {
            color: $color-primary;
            background: color($grey-1 blackness(+10%));
        }
    }

    &--clear {
        background-color: transparent;
        color: $grey-7;
        &:hover {
            opacity: 0.8;
            background: transparent;
        }

        &--primary {
            color: $color-primary;
        }
    }

    &--rounded {
        border-radius: $global-rounded;
    }

    &--filters {
        width: 100%;
        height: 100%;
    }

    &--cancel {
        background: $grey-7;
        color: #fff;
        &:hover {
            color: #fff;
            background: color($grey-7 blackness(+10%));
        }
    }

    &--link {
        &--primary {
            color: $color-primary;

            &:hover {
                color: color($color-primary blackness(+10%));
            }
        }
    }

    /**
     * Button sizes
     */
    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 2);
    }
    &--med {
        height: calc($unit * 6);
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 3);
    }
    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 4);
    }

    &--reset {
        padding: 0;
        background-color: transparent;
        border: none;        
    }

    &__loader {
        display: inline-block;
        width: calc($unit * 2);
        height: calc($unit * 2);
        margin-left: $unit;
        border: 2px solid #fff;
        border-bottom-color: $color-primary;
        border-radius: $global-rounded;
        vertical-align: calc(-$unit / 3);
        animation-name: btnLoader;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    &--cancel {
        height: 32px;
        padding: 0 calc($unit * 2 - 2px);
        background: #dddddd !important;
        color: #001524 !important;
        line-height: 32px;
        border-radius: 3px !important;
    }

    &__separator {
        position: relative;
        margin-right: $unit;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: $grey-2;
        }
    }
}

@keyframes btnLoader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
