/*------------------------------------*\
    # modules.field
\*------------------------------------*/

.field {
    height: 100%;
    /* min-height: 78px; */
    margin-bottom: $unit;
    padding: calc($unit * 2);
    background-color: #fff;

    @media (--screen-from-med) {
        margin-bottom: 0;
    }

    &--alt {
    	padding-bottom: calc($unit * 2);
    }

    &--noheight {
    	height: auto;
    }

    &--nobreak {
    	white-space: nowrap;
    }

    &--spaced {
        &--to {
            &--sml {
                @media (--screen-to-sml) {
                    margin-bottom: calc($unit * 2);
                }
            }

            &--med {
                @media (--screen-to-med) {
                    margin-bottom: calc($unit * 2);
                }
            }
        }
    }
}