/*------------------------------------*\
    # modules.filters
\*------------------------------------*/

.filters {
    position: relative;
    margin-bottom: calc($unit * 2);
    padding-bottom: calc($unit * 6);

    @media (--screen-from-med) {
        margin-bottom: $unit;
        padding-right: calc($unit * 14);
        padding-bottom: 0;
    }

    &__action {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc($unit * 6);

        @media (--screen-from-med) {
            top: 0;
            right: 0;
            left: auto;
            width: calc($unit * 13);
            /* height: calc(100% - $unit); */
            height: 100%;
        }

        @media (--screen-from-med) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: 100%;
        }
    }

    .row {
        @media (--screen-from-med) {
            display: flex;
        }
    }
}