/*------------------------------------*\
    # modules.section
\*------------------------------------*/

.section {
    &--primary {
        padding: calc($unit * 20) calc($unit * 8);
    }

    &--alt {
        background-color: $grey-lighter;
    }

    &--bordered {
    	border: 1px solid $grey-2;
    }
}
