/*------------------------------------*\
    # modules.table
\*------------------------------------*/

.table {
    width: 100%;
    border-collapse: unset;

    &--collapse {
        border-collapse: collapse;
    }

    td {
        vertical-align: top;
    }

    &--bordered {
        &--bottom {
            th, td {
                border-bottom: 1px solid $grey-2;
            }

            tr {
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    @media (--screen-from-lrg) {
        border-collapse: collapse;
    }

    &__holder {
        width: 100%;
        max-height: none;
        margin-bottom: calc($unit * 2);
        overflow-y: auto;

        @media (--screen-from-med) {
            max-height: calc(100vh - 384px);
        }

        @media (--screen-from-lrg) {
            max-height: calc(100vh - 356px);
        }

        &--primary {
            max-height: none;

            @media (--screen-from-med) {
                max-height: calc(100vh - 438px);
            }

            @media (--screen-from-lrg) {
                max-height: calc(100vh - 356px);
            }
        }

        &--secondary {
            max-height: none;

            @media (--screen-from-med) {
                max-height: calc(100vh - 278px);
            }

            @media (--screen-from-lrg) {
                max-height: calc(100vh - 280px);
            }
        }

        &--tertiary {
            max-height: none;

            @media (--screen-from-med) {
                max-height: calc(100vh - 356px);
            }
        }

        &--alt {
            max-height: none;
        }
    }

    &__header {
        display: none;
        @mixin type-scale $type-small, 0.75;
        color: #fff;
        white-space: nowrap;

        @media (--screen-from-lrg) {
            display: table-header-group;
            position: sticky;
            top: 0;
            width: 100%;
        }

        &--alt {
            background-color: #fff;
            color: $color-primary;
        }

        &__cell {
            position: sticky;
            top: 0;
            padding: $unit calc($unit * 1.5);
            border: none;
            text-align: left;
            background-color: $color-primary;

            a {
                color: #fff;
            }

            &--inner {
                border-bottom: 1px solid $grey-1;
            }
        }
    }

    &__body {
        display: block;

        @media (--screen-from-lrg) {
            display: table-row-group;
        }
    }

    &__row {
        display: block;
        margin-bottom: calc($unit * 2);
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #fff;

        @media (--screen-from-lrg) {
            display: table-row;
            margin-bottom: 0;
            background-color: transparent;
            border: none;
        }

        &--nopointer {
            cursor: default;
        }

        &--alt {
            margin-top: calc(-$unit * 2);

            @media (--screen-from-lrg) {
                margin-top: 0;
            }
        }

        &.is-active {
            border: 1px solid $color-primary;

            @media (--screen-from-lrg) {
                border: none;
            }
        }

        &.is-disabled {
            background-color: $grey-1;
            color: $grey-4;
        }
    }

    &__cell {
        display: block;
        padding: $unit calc($unit * 1.5);
        min-height: calc($unit * 9);
        border-bottom: 1px solid $grey-2;

        &:last-child {
            border-bottom: none;
        }

        &:before {
            content: attr(aria-label);
            display: block;
            @mixin type-scale $type-xsmall, 0.75;
            font-weight: $type-weight-bold;
        }

        @media (--screen-from-lrg) {
            display: table-cell;
            min-height: 0;
            vertical-align: top;

            &:last-child {
                border-bottom: 1px solid $grey-2;
            }

            &:last-child {
                border-bottom: 1px solid $grey-2;
            }

            &:before {
                display: none;
            }
        }

        &--middle {
            vertical-align: middle;
        }
    }

    &__input {
        left: 0;
    }

    &--inneralign {
        @media (--screen-from-lrg) {
            padding-left: calc($unit * 10.5);
        }
    }
}
