/*------------------------------------*\
    # modules.inputgroup
\*------------------------------------*/

.inputgroup {
    display: table;
    position: relative;
    border-collapse: separate;
    width: 100%;

    &--main {
        display: table-cell;
        width: 100%;
        z-index: 2;
    }

    &--aside { 
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }
}