/*------------------------------------*\
    # modules.tag
\*------------------------------------*/

.tag {
	display: inline-block;
    margin: 0 $unit $unit 0;
    padding: calc($unit / 2) calc($unit * 1.5);
    background-color: #fff;
    border: 1px solid $grey-2;
    border-radius: $global-radial;

    &__reset {
        margin-left: calc($unit / 2);
        @mixin type-scale $type-xsmall, 0.5;
        color: $color-warning;
        border-radius: $global-rounded;
        vertical-align: middle;
        transition: ease .2s all;

        &:hover {
            cursor: pointer;
        }

        i {
            @mixin type-scale $type-xsmall, 0.8;
        }
    }
}
