/*------------------------------------*\
    # modules.list
\*------------------------------------*/

.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        margin-bottom: calc($unit * 2);
        padding-bottom: $unit;
        border-bottom: 1px solid $grey-1;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        	border-bottom: none;
        }
    }
}