/*------------------------------------*\
    # modules.note
\*------------------------------------*/

.note {
    position: relative;
    padding: calc($unit * 2);
    background-color: #fff;
    text-align: center;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc($unit / 2);
        height: 100%;
    }
}
