/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    /**
     * Input base
     */
    display: inline-block;
    width: 100%;

    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    appearance: none;
    transition: border-color 200ms;
    -webkit-appearance: none;
    background-color: white;

    /**
     * Input base project styling
     */
    font-family: $ff-sans;
    border: 1px solid color(white blackness(+30%));

    &::placeholder {
        color: color(white blackness(+60%));
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:invalid {
        border: 1px solid $color-warning;
    }

    &:focus {
        outline: 0;
        border-color: color($color-primary lightness(+10%));
    }

    &:disabled {
        background-color: $grey-1;
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    &--auto {
        width: auto;
    }

    /**
     * Input sizes
     */
    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 1);
    }

    &--med {
        height: calc($unit * 6) !important;
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 2);
    }

    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 3);
    }

    /**
     * Input types
     */
    &--text {
        @mixin type-scale $type-small, 1;
        padding: calc($unit * 1.5);
        width: 100%;
    }

    &--textarea {
         padding: calc($unit * 1.5);
         width: 100%;
         max-width: 100%;
         height: calc($unit * 16 + 2px);
         resize: none;
    }

    &--select,
    &--date,
    &--search {
        padding-right: calc($unit * 4);
        background-image: url(assets/images/icons/ic_arrow_drop_down_black_24px.svg);
        background-repeat: no-repeat;
        background-size: calc($unit * 4) calc($unit * 4);
        background-position: 99% center;
        vertical-align: middle;

        &--header {
            height: 100%;
            padding-left: calc($unit * 2);
            background-image: url(assets/images/icons/ic_arrow_drop_down_white_24px.svg);
            background-color: $color-tertiary;
            color: #fff;
            border: none;
        }
    }

    &--date {
        background-image: url(assets/images/icons/ic_date_range_black_24px.svg);
    }

    &--search {
        background-image: url(assets/images/icons/ic_search_black_24px.svg);
    }

    &--check,
    &--radio {
        opacity: 0;
        position: absolute;

        &:hover {
            cursor: pointer;
        }

        &--alt {
            width: calc(100% - $unit * 12);
            height: calc($unit * 9);
            margin-top: -$unit;

            @media (--screen-from-lrg) {
                width: calc($unit * 6);
                height: calc($unit * 7);
                margin-top: calc(-$unit * 2);
            }
        }

        & + label {
            @mixin type-scale $type-small, 1;
            
            white-space: nowrap;
            cursor: pointer;
            &:before {
                content: '';
                float: left;
                width: calc($unit * 3);
                height: calc($unit * 3);
                margin-top: 3px;
                margin-right: calc($unit * 2);
                border: 1px solid $grey-2;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    width: calc($unit * 3 + 1px);
                    height: calc($unit * 3 + 1px);
                }
            }
        }

        &:checked {
            & + label {
                &:before {
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        &:focus {
            & + label {
                &:before {
                    box-shadow: 0 0 10px rgba(0,0,0,0.4);
                }
            }
        }
    }

    &--check {
        &:checked {
            & + label {
                &:before {
                    background-image: url(/assets/images/icons/ic_check_box_black_24px.svg);
                    border-color: transparent;
                }
            }
        }
    }

    &--radio {
        & + label {
            &:before {
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        &:checked {
            & + label {
                &:before {
                    background-image: url(/assets/images/icons/ic_radio_button_checked_black_24px.svg);
                }
            }
        }

        &:focus {
            & + label {
                &:before {
                    box-shadow: $z-depth-1;
                }
            }
        }
    }

    &--warning {
        border: 1px solid $color-warning;
    }

    &--currency {
        /* background-image: url(../../assets/img/money-icon.svg); */
        background-repeat: no-repeat;
        background-position: 1% center;
        padding-left: 5% !important;
    }

    &__note {
        color: $grey-3;
        font-style: italic;


        &--ellipsis {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
    }


}

input[type=number] {
    -moz-appearance:textfield;
}

select::-ms-expand {
    display: none;
}
