/*------------------------------------*\
    # modules.fileupload
\*------------------------------------*/

.fileupload {
    &__holder {
        position: relative;
        width: 100%;
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        background-color: #fff;
        border: 1px solid color(white blackness(+30%));
        overflow: hidden;
    }

    &__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
            display: block;
            height: 100%;
            padding: calc($unit * 1);
            line-height: calc($unit * 4);
            @mixin type-scale $type-small, .5;
        }
    }
 }