/*------------------------------------*\
    # modules.validation
\*------------------------------------*/

.validation-summary {
	padding: $unit calc($unit * 2);
    background: color($color-warning whiteness(+60%));
    border-left: 1px solid $color-warning;

    &:first-child li, li {
    	padding-top: calc($unit / 2);
    	padding-bottom: 0;
    }

    &:last-child li, li {
    	padding-bottom: calc($unit / 2);
    }
}
