/*------------------------------------*\
    # plugins.ui-input
\*------------------------------------*/

.ui-calendar {
	display: block;

	input {
		width: 100%;
	}
}

.ui-inputtext {
	height: calc($unit * 4 - 1px);
}

.ui-calendar-button {
	svg {
		margin-top: calc($unit - 2px);
	}
}

.ui-calendar.ui-calendar-w-btn input {
	border-radius: 0;

	&:focus {
		box-shadow: none;
		border-color: color($color-primary lightness(+10%));
	}
}

.ui-widget.ui-button {
	background-color: transparent;
	color: $color-text;
	border-color: transparent;
}

.ui-widget.ui-button:enabled:hover,
.ui-widget.ui-button:focus,
.ui-widget.ui-button:hover {
	background-color: transparent;
	color: $color-text;
	border-color: transparent;
}

.ui-widget-header .ui-button,
.ui-widget-content .ui-button,
.ui-button {
	right: 0;
	margin-right: 0;
	border-color: transparent;
	background-color: $grey-2;
	color: $color-text;
	border-radius: 0;
}

.ui-widget-header .ui-button:enabled:hover,
.ui-widget-header .ui-button:focus,
.ui-widget-content .ui-button:enabled:hover,
.ui-widget-content .ui-button:focus,
.ui-button:enabled:hover,
.ui-button:focus {
	border-color: transparent;
	background: color($grey-2 blackness(+10%));
	color: $color-text;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight,
.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
	background-color: $color-primary;
	color: #fff;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
	text-align: center;
}

.ui-datepicker .ui-datepicker-header a {
	padding-top: calc($unit / 3);
	color: #fff;
}