/*------------------------------------*\
    # plugins.ui-picklist
\*------------------------------------*/

.ui-picklist .ui-picklist-buttons {
  vertical-align: middle;
  font-size: x-large !important;
}
