/*------------------------------------*\
    # plugins.chamburger
\*------------------------------------*/

$button-width: 30px;           
$button-height: $button-width;      
$bar-thickness: calc($button-width * 0.08);
$button-pad: calc($button-width * 0.1875);
$button-bar-space: calc($button-width * 0.125);
$button-transistion-duration: 0s;


$c-hamburger-line-color: $color-primary;

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  float: right;
  margin: calc($unit * 2 + 2px);
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  background-color: transparent;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;

  @media (--screen-from-xlrg) {
    display: none;
  }
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: calc($button-width * 0.45833333);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: $c-hamburger-line-color;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $c-hamburger-line-color;
  content: "";
}

.c-hamburger span::before {
  top: calc((-1) * $button-width * 0.2083333333);
}

.c-hamburger span::after {
  bottom: calc((-1) * $button-width * 0.2083333333);
}

.c-hamburger--htx span {
  transition: background 0s $button-transistion-duration;
}

.c-hamburger--x span::before,
.c-hamburger--x span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger--x span::before {
  transition-property: top, transform;
}

.c-hamburger--x span::after {
  transition-property: bottom, transform;
}

.c-hamburger--x.is-active span {
  background: none;
}

.c-hamburger--x.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--x.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--x.is-active span::before,
.c-hamburger--x.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}
