/*------------------------------------*\
    # plugins.ui-dtepicker
\*------------------------------------*/

/* .ui-button-icon-left.ui-clickable.pi.pi-calendar {
	background-image: url('assets/images/icons/ic_date_range_black_24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: calc($unit * 2.5);
} */

.ui-calendar .ui-datepicker {
	width: 100%;
	max-width: calc($unit * 40);
  min-width: 220px;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
	text-align: center;
}

.ui-datepicker .ui-datepicker-header a {
	padding-top: calc($unit / 3);
	color: #fff;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
	background-color: transparent;
	font-weight: $type-weight-bold;
	color: inherit;
}

.ui-datepicker .ui-datepicker-header a:hover {
	color: #fff;
	background-color: $grey-2;
	opacity: 0.7;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
	background-color: $color-primary;
}

.pi.pi-chevron-left {
  height: calc($unit * 2 - 2px);
	background: url('assets/images/icons/baseline-chevron_left-24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: calc($unit * 3.5);

	&:before {
		display: none;
	}
}

.pi.pi-chevron-right {
  height: calc($unit * 2 - 2px);
	background: url('assets/images/icons/baseline-chevron_right-24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: calc($unit * 3.5);

	&:before {
		display: none;
	}
}

.ui-calendar .ui-calendar-button {
	position: absolute;
	top: 1px;
	right: 1px;
	height: calc($unit * 3.5);
}
