/*------------------------------------*\
    # plugins.ui-paginator
\*------------------------------------*/

.ui-paginator {
	text-align: left;
	background-color: transparent !important;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev {
	width: auto;
	min-width: calc($unit * 4);
	height: calc($unit * 4);
	padding: 0 calc($unit / 2);
	border-color: transparent;
	line-height: calc($unit * 4);
}

.ui-paginator .ui-paginator-pages {
	display: inline;
}

.pagination .ui-paginator {
	background-color: transparent !important;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
	background-color: #fff;
	color: $color-primary;
	border-color: transparent;
	opacity: 0.5;
}