/*------------------------------------*\
    # tools.clearing
\*------------------------------------*/

@define-mixin clearfix {
    &:after {
          content: "";
          display: table;
          clear: both;
    }
}

.clearfix {
    @mixin clearfix;
}

.group {
    overflow: hidden;
}
