/*------------------------------------*\
    # utils.flex
\*------------------------------------*/

.flex {
    display: flex;
    /*column*/
    &--column {
        flex-direction: column;
    }
    /*justify*/
    &--wrap {
        flex-wrap: wrap;
    } 
    &--justify {
        &--start {
            justify-content: flex-start;            
        }
        &--sb {
            justify-content: space-between;
        }
        &--end {
            justify-content: flex-end;
        }
        &--center {
            justify-content: center;
        }
        &--left {
            justify-content: left;
        }
    }
    &--align {
        &--start {
            align-items: flex-start;
        }
        &--center {
            align-items: center;
        }
        &--end {
            align-items: flex-end;
        }
    }
}