/*------------------------------------*\
    # utils.icon
\*------------------------------------*/

.icon {
    display: inline-block;
    width: calc($unit * 10);
    height: calc($unit * 10);

    background-repeat: no-repeat;
    background-position: center center;
    /* background: svg-inline(nav); */
    /* background: svg-load('../images/icon.svg', fill: color($color-primary a(0.1))); */
}
