/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.display {

	&--b {
		display: block;
	}

	&--ib {
		display: inline-block;
	}

	&--none {
		display: none;
	}
}