/*------------------------------------*\
    # utils.floats
\*------------------------------------*/

.pull {
	float: left;

	&--to {
		&--sml {
			@media (--screen-to-sml) {
		    	float: left;
			}
		}
	}
}

.push {
	float: right;

  &--to {
    &--sml {
      @media (--screen-to-sml) {
        float: right;
      }
    }
  }
}
