/*------------------------------------*\
    # components.separator
\*------------------------------------*/

.separator {
    &--primary {
        &--bottom {
            border-bottom: 1px solid color($color-text lightness(+55%));
        }
        &--right {
            border-right: 1px solid color($color-text lightness(+55%));
        }
    }

    &--last {
    	&:last-child {
    		border-bottom: 1px solid transparent;
    	}
    }
}