/*------------------------------------*\
    # utils.visibility
\*------------------------------------*/

.visibility {
	&--hidden {
    	visibility: hidden;
	}

	&--visible {
		visibility: visible;
	}
}