/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w {
    &--1 {
        width: calc((100/12) * 1%);
    }

    &--2 {
        width: calc((100/12) * 2%);
    }

    &--3 {
        width: calc((100/12) * 3%);
    }

    &--4 {
        width: calc((100/12) * 4%);
    }

    &--5 {
        width: calc((100/12) * 5%);
    }

    &--6 {
        width: calc((100/12) * 6%);
    }

    &--7 {
        width: calc((100/12) * 7%);
    }

    &--8 {
        width: calc((100/12) * 8%);
    }

    &--9 {
        width: calc((100/12) * 9%);
    }

    &--10 {
        width: calc((100/12) * 10%);
    }

    &--11 {
        width: calc((100/12) * 11%);
    }

    &--12 {
        width: calc((100/12) * 12%);
    }

    &--48 {
        width: 48px;
    }

    &--54 {
        width: 54px;
    }

    &--max {
        &--400 {
            max-width: 400px;
        }

        &--700 {
            max-width: 700px;
        }
    }
}

.fullwidth {
    width: 100%;
}
