/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
 * Project base line height (unitless in order to work with typomatic)
 */
$base-line-height: 24;
$base-font-size:   14;

/**
* Type scale sizes must be entered in their pixel size
* (unitless in order to work with typomatic)
* Default type scale ratio: 1.333;
*/
$type-tiny:     	10;
$type-xsmall:   	12;
$type-small:    	13;
$type-base:     	$base-font-size;
$type-base-plus: 	16;
$type-medium:   	19;
$type-large:    	23;
$type-xlarge:   	28;
$type-xxlarge:  	33;
$type-xxxlarge: 	40;
$type-huge:     	56;

/**
* Type weights
*/
$type-weight-thin:       100;
$type-weight-light:      300;
$type-weight-regular:    400;
$type-weight-medium:  	 500;
$type-weight-bold:       700;
$type-weight-extra-bold: 800;

/**
* Font stacks
*/
$ff-sans:  "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
$ff-serif: "TitilliumWeb", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
