/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

/**
* Generic colors
* Color naming taken from: http://www.color-blindness.com/color-name-hue/
*/

/**
* Brand colors
*/
$summer-sky: #2aace2;
$cod-grey: 	 #2d3033;
$cinder: 	 #1f2226;

/**
* Global text color
*/
$color-text:        #222;

/**
* Theme colors
*/
$color-primary:     $summer-sky;
$color-secondary: 	$cod-grey;
$color-tertiary: 	$cinder;

/**
* Grey colors
*/

$grey-lighter:      #f2f2f2;
$grey-light:        #dedede;
$grey-dark:         #54575a;

/*
    Shades of gray (pure gray)
    ------------------------------------
    If you need mix some color to gray, use 10% of saturated color
*/
$grey-1: #f0f0f0;  /*  6% - lightness */
$grey-2: #d4d4d4;  /* 17% - lightness */
$grey-3: #b8b8b8;  /* 28% - lightness */
$grey-4: #9c9c9c;  /* 39% - lightness */
$grey-5: #7f7f7f;  /* 50% - lightness */
$grey-6: #636363;  /* 61% - lightness */
$grey-7: #474747;  /* 72% - lightness */
$grey-8: #2b2b2b;  /* 83% - lightness */
$grey-9: #0f0f0f;  /* 94% - lightness */

/**
* Utility colors
*/
$color-warning:     #f44336;
$color-success:     #4caf50;
$color-note:        #ffeb3b;
