/*------------------------------------*\
    # view.welcome
\*------------------------------------*/

.welcome {
	text-align: center;

	&__image {
		display: block;
    max-width: 210px;
		margin: 0 auto;
	}

	&__title {
		position: relative;
	    margin-bottom: calc($unit * 2);
    	padding-top: $unit;

    	&:before {
    		content: '';
    		display: block;
    		width: calc($unit * 10);
    		height: 1px;
    		margin: calc($unit * 3) auto;
    		background-color: $grey-1;
    	}    	
	}
}
