/*------------------------------------*\
    #view.home
\*------------------------------------*/

$home-divider-height: calc($unit * 9);

.home {

	&__hero {
		display: block;
		padding: calc($unit * 40) calc($unit * 8) calc($unit * 40 - $home-divider-height) calc($unit * 8);
		background-color: #008000;
		color: white;
        

        &__title {
            @mixin type-scale $type-huge, 2;
        }

        &__subtitle {
            @mixin type-scale $type-large, 1.5;
            font-weight: $type-weight-light;
            width: 480px;
        }
	}

    &__top {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        padding: calc($unit * 2) calc($unit * 4);

        background-color: white;
        border-bottom: 1px solid $grey-light;
    }

	&__baseline {
        z-index: 0;

        &:after {
            background: linear-gradient(to bottom, hsla(280, 50%, 30%, 0.1), hsla(280, 50%, 30%, 0.1) 1px, transparent 1px, transparent);
            background-size: 100% calc($base-line-height / 4 * 1px);
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
            pointer-events: none;
        }
    }
 
    &__title {

        &--primary {
            @mixin type-scale $type-xxlarge, 2;
            color: $color-primary;
        }

        &--secondary {
            font-family: $ff-sans;
            color: $color-secondary;
        }
    }

    &__divider {

        &--primary {
            width: calc($unit * 6);
            height: calc($unit / 2);
            background-color: $color-primary;
        }

        &--styled {
            height: $home-divider-height;
            /* background-image: url('../img/home/hero-pattern.svg'); */
            background-repeat: repeat-x;
            background-size: 100px;
            
        }
    }

    &__data {

        &--primary {
            position: relative;

            &:before {
                font-size: 16px;
                font-weight: $type-weight-regular;
                
                content: attr(data-name);
                display: block;

                position: absolute;
                left: calc(-$unit * 14);
                
                width: calc($unit * 14);
                color: $color-primary;
            }
        }
    }

    &__grid {

        .col {
        
            span {
                display: block;
                padding: calc($unit * 3);
                background-color: color(red a(25%));
            }
        }

        &.row, .row {
            background-color: color(blue a(25%));
        }
    }
}
