<div [formGroup]="group">
  <p-autoComplete formControlName="name" id="id"  attr.field-name="{{ labelText | translate }}"  [suggestions]="suggestions" (completeMethod)="onGetSuggestionList($event)"
      (onSelect)="onSelect($event)" (onBlur)="onBlur($event)" ></p-autoComplete>
  <app-validation-error [control]="group.get('id')"></app-validation-error>
</div>
