<p-dialog [(visible)]="showPanel" modal="true" closeOnEscape="false" [appendTo]="'body'" [closable]="false">
  <p-header>
    {{ 'Logging.Details.Title' | translate }}
  </p-header>

  <div class="w--max--700 word-break--break-word">
      {{ logEntry.message }}
  </div>

  <p-footer>
    <button type="button" (click)="onClose()" class="btn btn--sml btn--clear">
      <i class="material-icons type--sml valign--neg--2">close</i> {{ 'ButtonCancel.Text' | translate}}
    </button>
  </p-footer>
</p-dialog>
