<app-page-header [pageTitle]="'Sidebar.UISettings'" [stepDescription]="'UISettings.Description'"></app-page-header>
<form (ngSubmit)="onSubmitSettings()" [formGroup]="settingsForm" *ngIf="settings">
<div class="sticky-wrapper">
<div class="heading heading--tertiary" appSticky>
  <button type="submit" class="btn btn--primary btn--sml spc--left--sml" >{{ 'FormOptions.Save' | translate}}</button>
  <button type="button" class="btn btn--sml btn--clear"  (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i> {{ 'FormOptions.ResetForm' | translate}}
    </button>
</div>
</div>
<div class="layout--main__content" *ngIf="isLoaded">
  <div class="row">
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
            {{ 'UISettings.Menu' | translate }}
          </h4>
          <div class="group spc--bottom--sml">
            <div class="pull">
              <label>
                {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'menuBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
          <div class="group spc--bottom--sml">
            <div class="pull">
              <label>
                  {{ 'UISettings.Font' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'menuFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
          <div class="group">
            <div class="pull">
              <label>
                  {{ 'UISettings.Hover' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'menuHoverFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
              {{ 'UISettings.PageTitle' | translate }}
          </h4>
          <div class="group spc--bottom--sml">
            <div class="pull">
              <label>
                  {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'pageTitleBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
          <div class="group">
            <div class="pull">
              <label>
                  {{ 'UISettings.Font' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'pageTitleFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
              {{ 'UISettings.SelectedMenuItem' | translate }}
          </h4>
          <div class="group spc--bottom--sml">
            <div class="pull">
              <label>
                  {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'selectedMenuItemBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
          <div class="group">
            <div class="pull">
              <label>
                  {{ 'UISettings.Font' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'selectedMenuItemFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
              {{ 'UISettings.SelectedTableRow' | translate }}
          </h4>
          <div class="group spc--bottom--sml">
            <div class="pull">
              <label>
                  {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'selectedTableRowBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
          <div class="group">
            <div class="pull">
              <label>
                  {{ 'UISettings.Font' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'selectedTableRowFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
            {{ 'UISettings.ExpandedMenu' | translate }}
          </h4>
          <div class="group">
            <div class="pull">
              <label>
                {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'innerMenuBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
              {{ 'UISettings.Page' | translate }}
          </h4>
          <div class="group">
            <div class="pull">
              <label>
                  {{ 'UISettings.Background' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'pageBackgroundColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-sml-12 col-lrg-6 col-huge-4 spc--bottom--med">
      <div class="field">
        <div class="settings">
          <h4 class="settings__title">
            {{ 'UISettings.TableRow' | translate }}
          </h4>
          <div class="group">
            <div class="pull">
              <label>
                {{ 'UISettings.Font' | translate }}
              </label>
            </div>
            <div class="push">
              <app-color-picker [controlName]="'tableRowFontColor'" [formGroup]="settingsForm"></app-color-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sml-12 col-lrg-6 col-huge-4">
      <div class="field">
        <div class="settings__title">
          <h4 for="file">{{ 'UISettings.ChooseLogoImage' | translate }} </h4>
        </div>

        <div class="fileupload__holder">
          <input #file type="file" name="file" id="file" class="fileupload__input" accept="image/*" (change)="upload($event)">
          <label for="file" class="fileupload__label">{{ 'UISettings.SelectImage' | translate }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
