<div [formGroup]="configurationGroup">
  <h4 class="spc--bottom--sml">
    {{ 'ProfileTemplateConfiguration.DCIProfileTemplates' | translate }}
    <button type="button" class="btn btn--primary btn--sml type--sml spc--left--sml" (click)="addToList()">{{ 'FrontendConfiguration.AddNew' | translate }}</button>
  </h4>
  <div class="row flex flex--wrap flex--justify--left">
      <div [formArrayName]="formArrayName" *ngFor="let item of formArray.controls; let i = index;" class="col col-sml-12 col-lrg-6 col-xlrg-4 spc--bottom--tny">
        <div [formGroupName]="i" class="field h--100">
          <div class="spc--bottom--med">
            <h5 class="settings__title group">
              {{ 'ProfileTemplateConfiguration.ProfileTemplateId' | translate }}
              <button type="button" class="btn btn--reset type--sml type--color--warning push" (click)="removeFromList(i)">
                <i class="material-icons type--sml valign--neg--2">close</i>{{'FrontendConfiguration.Delete' | translate}} </button>
            </h5>
            <input type="text" class="input input--sml" formControlName="profileTemplateId">
            <app-validation-error [control]="getControl(i).get('profileTemplateId')"></app-validation-error>
          </div>
          <app-name-value-list [group]="item" [formArrayName]="'reinstateDCIs'"></app-name-value-list>
        </div>
      </div>
  </div>

</div>
