<h6 class="settings__title">
    <span *ngFor="let key of translationKeys; let i = index ">
            {{ key | translate }}
      <span *ngIf="i < translationKeys.length - 1">
          /
      </span>
    </span>

</h6>

