<div [formGroup]="configurationGroup">
  <div class="row">
    <div class="col col-sml-12 col-xlrg-6 col-xxlrg-6">
      <h5 class="settings__title">{{ labelText | translate }}</h5>
      <div class="inputgroup spc--bottom--med">
        <div class="inputgroup--main">
          <input type="text" #newItem value="" class="input input--sml" (keyup.enter)="addToList(newItem.value); newItem.value='';">
        </div>
        <div class="inpugroup--aside">
          <button type="button" (click)="addToList(newItem.value); newItem.value='';" class="btn btn--primary btn--sml">+</button>
        </div>
      </div>
    </div>
  </div>
   <ul>
     <li [formArrayName]="formArrayName" *ngFor="let item of formArray.controls; let i = index;" class="tag">
       <div>
         {{ item.value }}
         <button type="button" (click)="removeFromList(i)" class="btn--reset tag__reset">
           <i class="material-icons">close</i>
         </button>
         <app-validation-error [control]="getControl(i)"></app-validation-error>
       </div>

     </li>
   </ul>
</div>
