<div class="welcome spc--top--xlrg">
  <img *ngIf="imagePath" [src]="'data:image/png;base64,'+imagePath" class="welcome__image">
  <h3 class="welcome__title">{{ welcomeText }}</h3>
  <p>
    {{ helpDeskInstruction }} {{ contactAddress }}
  </p>
</div>





