
<app-page-header [pageTitle]="'ServiceConfiguration.PageTitle'" [stepDescription]="'ServiceConfiguration.Description'"></app-page-header>
<form *ngIf="configurationForm" [formGroup]="configurationForm">
  <div class="sticky-wrapper">
  <div class="heading heading--tertiary" appSticky>
    <button type="button" class="btn btn--primary btn--sml spc--left--sml" (click)="onSubmit()">
      {{ "FormOptions.Save" | translate }}
    </button>
    <button type="button" class="btn btn--sml btn--clear" (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i>
      {{ "FormOptions.ResetForm" | translate }}
    </button>
  </div>
  </div>
  <div class="layout--main__content">
    <h4 class="spc--bottom--sml">
      {{ "ServiceConfiguration.MimConfiguration" | translate }}
    </h4>
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.MimProviderMimFrontendBaseUrl" | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="mimProviderMimFrontendBaseUrl" />
          <app-validation-error [control]="configurationForm.get('mimProviderMimFrontendBaseUrl')">
          </app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.MimProviderRequestOperationsEndpoint"
              | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="mimProviderRequestOperationsEndpoint" />
          <app-validation-error [control]="
              configurationForm.get('mimProviderRequestOperationsEndpoint')
            "></app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.MimProviderFindOperationsEndpoint"
              | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="mimProviderFindOperationsEndpoint" />
          <app-validation-error [control]="
              configurationForm.get('mimProviderFindOperationsEndpoint')
            "></app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.MimProviderPermissionOperationsEndpoint"
              | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="mimProviderPermissionOperationsEndpoint" />
          <app-validation-error [control]="
              configurationForm.get('mimProviderPermissionOperationsEndpoint')
            "></app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.MimProviderExecuteOperationsEndpoint"
              | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="mimProviderExecuteOperationsEndpoint" />
          <app-validation-error [control]="
              configurationForm.get('mimProviderExecuteOperationsEndpoint')
            "></app-validation-error>
        </div>
      </div>
    </div>
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{ 'ServiceConfiguration.SignatureTempOid' | translate }}</label>
            <input type="text" class="input input--sml" formControlName="signatureTemplateOid" />
            <app-validation-error [control]="configurationForm.get('signatureTemplateOid')"></app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.ActiveDirectoryUserDomain" | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="activeDirectoryUserDomain" />
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{ 'ServiceConfiguration.SignatureDCIName' | translate }}</label>
            <input type="text" class="input input--sml" formControlName="signatureDCIName" />
            <app-validation-error [control]="configurationForm.get('signatureDCIName')"></app-validation-error>
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <input type="checkbox" class="input--check" id="chb" formControlName="rejectInvalidSigningCertificate">
          <label for="chb">{{ 'ServiceConfiguration.RejectInvalidSigningCertificate' | translate }}</label>
        </div>
      </div>
    </div>


    <h4 class="spc--bottom--sml">
      {{ "ServiceConfiguration.AdImpersonationConfig" | translate }}
    </h4>
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.ActiveDirectoryUserName" | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="activeDirectoryUserUserName" />
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.ActiveDirectoryUserDomain" | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="activeDirectoryUserDomain" />
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.ActiveDirectoryUserPassword" | translate
          }}</label>
          <input type="password" class="input input--sml" formControlName="activeDirectoryUserPassword"
            autocomplete="new-password" />
        </div>
      </div>
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <input type="checkbox" class="input--check" id="chb4"
            formControlName="activeDirectoryUserDisableLoadProfile" />
          <label for="chb4">{{
            "ServiceConfiguration.ActiveDirectoryUserDisableLoadProfile"
              | translate
          }}</label>
        </div>
      </div>
    </div>
    <h4 class="spc--bottom--sml">
      {{ "ServiceConfiguration.LoggingConfiguration" | translate }}
    </h4>
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-med-6 col-xlrg-4 spc--bottom--tny">
        <div class="field h--100">
          <label>{{
            "ServiceConfiguration.LoggingSqlAddress" | translate
          }}</label>
          <input type="text" class="input input--sml" formControlName="loggingSqlAddress" />
        </div>
      </div>
    </div>
  </div>
</form>
