<app-page-header *ngIf="useHeader" [pageTitle]="pageTitle" [stepTitle]="stepTitle"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--sml btn--clear" (click)="submitRequest()" [disabled]="isFinishDisabled">{{'FinishRequest.Finish' | translate}}</button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="firstStepUrl"></app-cancel-button>
</div>
<div class="layout--main__content">
  <ng-template #noItems>
    <span *ngIf="!isLoading">{{'FinishRequest.NoDataCollection' | translate}}</span>
  </ng-template>
  <div class="row spc--bottom--tny">
    <div class="col col-sml-12 col-med-6">
      <div class="field field--noheight">
        <label>
          {{'FinishRequest.Audit' | translate}}
        </label>
        <div class="section--alt section--bordered padd--sml">
          <div *ngIf="cachedData && cachedData.dataCollectionItems else noItems" class="row">
            <div *ngFor="let item of cachedData.dataCollectionItems" class="col col-12 col-sm-6 col-md-4">
              <div *ngIf="item.name.toLowerCase() !== cachedData.signatureDciKey.toLowerCase()">
                <span class="spc--right--tny">{{item.name}}:</span>
                <span *ngIf="item.dataType !== 'Date'" class="type--wgt--bold">{{item.value}}</span>
                <span *ngIf="item.dataType === 'Date' && item.value" class="type--wgt--bold">{{item.value | localizedDate: 'small'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sml-12 col-med-6">
      <div *ngIf="auditData.showComments" class="field field--noheight">
        <label for="comment">{{'FinishRequest.LabelComment' | translate}}:</label>
        <textarea class="input input--textarea" rows="4" id="comment" [(ngModel)]="auditRequestDto.comment"></textarea>
      </div>
    </div>
  </div>
  <div class="note">
    {{'FinishRequest.AuditHint' | translate}}
  </div>
</div>

