
<app-page-header [pageTitle]="'UserLookupConfiguration.PageTitle'" [stepDescription]="'UserLookupConfiguration.Description'"></app-page-header>
<form *ngIf="configurationForm" [formGroup]="configurationForm">
  <div class="sticky-wrapper">
  <div class="heading heading--tertiary" appSticky>
    <button type="button" class="btn btn--primary btn--sml spc--left--sml" (click)="onSubmit()">
      {{ "FormOptions.Save" | translate }}
    </button>
    <button type="button" class="btn btn--sml btn--clear" (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i>
      {{ "FormOptions.ResetForm" | translate }}
    </button>
  </div>
  </div>
  <div class="layout--main__content">
      <div class="row spc--bottom--med">
          <div class="col col-sml-12 col-med-6 col-lrg-4">
            <div class="field field--noheight">
              <label>{{ 'UserLookupConfiguration.SearchUsersPageSize' | translate }}</label>
              <input type="text" class="input input--sml" formControlName="searchUsersPageSize" />
              <app-validation-error [control]="configurationForm.get('searchUsersPageSize')" [minInterval]="'0'"></app-validation-error>
            </div>
          </div>
        </div>
      <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
          <div class="col col-sml-12 col-xlrg-6 spc--bottom--tny">
            <div class="field h--100">
              <app-picklist
                [listTitle]="'UserLookupConfiguration.UserDisplayProperties'"
                [source]="userDisplayProps.options"
                [target]="userDisplayProps.target"
                [dragdrop]="true"
                [filterBy]="'name,id'"
                [sourceFilterPlaceholder]="'Picklist.SearchName'"
                [targetFilterPlaceholder]="'Picklist.SearchName'"
                [sourceHeader]="'Picklist.Available'"
                [targetHeader]="'Picklist.Target'"
                [labelField]="'name'"
                [showTargetControls]="true"
              > </app-picklist>
            </div>
          </div>
          <div class="col col-sml-12 col-xlrg-6 spc--bottom--tny">
            <div class="field h--100">
              <app-picklist
                [listTitle]="'UserLookupConfiguration.UserSearchProperties'"
                [source]="userSearchProps.options"
                [target]="userSearchProps.target"
                [dragdrop]="true"
                [filterBy]="'name,id'"
                [sourceFilterPlaceholder]="'Picklist.SearchName'"
                [targetFilterPlaceholder]="'Picklist.SearchName'"
                [sourceHeader]="'Picklist.Available'"
                [targetHeader]="'Picklist.Target'"
                [labelField]="'name'"
                [showTargetControls]="false"
            > </app-picklist>
            </div>
          </div>
        </div>
  </div>
</form>
