
<app-page-header [pageTitle]="'ProfileTemplateConfiguration.PageTitle'" [stepDescription]="'ProfileTemplateConfiguration.Description'"></app-page-header>
<form *ngIf="configurationForm" [formGroup]="configurationForm">
  <div class="sticky-wrapper">
  <div class="heading heading--tertiary" appSticky>
    <button type="button" class="btn btn--primary btn--sml spc--left--sml" (click)="onSubmit()">
      {{ "FormOptions.Save" | translate }}
    </button>
    <button type="button" class="btn btn--sml btn--clear" (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i>
      {{ "FormOptions.ResetForm" | translate }}
    </button>
  </div>
  </div>
  <div class="layout--main__content">
    <div class="row spc--bottom--med">
        <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3">
            <div class="field field--nobreak h--100">
                <input type="checkbox" class="input--check" id="chb1" formControlName="selectDefaultProfile">
                <label for="chb1">{{ 'ProfileTemplateConfiguration.SelectDefaultProfile' | translate }}</label>
            </div>
          </div>
          <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3">
              <div class="field field--nobreak h--100">
                  <input type="checkbox" class="input--check" id="chb3" formControlName="showDisabledProfiles">
                 <label for="chb3">{{ 'ProfileTemplateConfiguration.ShowDisabledProfiles' | translate }} </label>
              </div>
          </div>
    </div>
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-xlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-picklist
          [listTitle]="'ProfileTemplateConfiguration.BlacklistedProfileTemplates'"
          [source]="blacklistedOptions"
          [target]="blacklistedTarget"
          [dragdrop]="true"
          [filterBy]="'name,profileTemplateId'"
          [sourceFilterPlaceholder]="'Picklist.SearchNameId'"
          [targetFilterPlaceholder]="'Picklist.SearchNameId'"
          [sourceHeader]="'Picklist.Available'"
          [targetHeader]="'Picklist.BlacklistedTarget'"
          [labelField]="'name'"
        > </app-picklist>
        </div>
      </div>
      <div class="col col-sml-12 col-xlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-picklist
            [listTitle]="'ProfileTemplateConfiguration.ExcludedProfileTemplates'"
            [source]="excludedOptions"
            [target]="excludedTarget"
            [dragdrop]="true"
            [filterBy]="'name,profileTemplateId'"
            [sourceFilterPlaceholder]="'Picklist.SearchNameId'"
            [targetFilterPlaceholder]="'Picklist.SearchNameId'"
            [sourceHeader]="'Picklist.Available'"
            [targetHeader]="'Picklist.ExcludedTarget'"
            [labelField]="'name'"
          > </app-picklist>
        </div>
      </div>
    </div>
    <div class="spc--bottom--xlrg">
      <app-profile-template-list [configurationGroup]="configurationForm" [formArrayName]="'dciProfileTemplates'"></app-profile-template-list>
    </div>
  </div>
</form>
