
<div class="settings__title group">
    <h5 class="pull--from--sml">
        {{ listTitle | translate }}
    </h5>
</div>
<p-pickList
  [source]="source"
  [target]="target"
  [dragdrop]="dragdrop"
  [filterBy]="filterBy"
  [sourceStyle]="{'height':'300px'}"
  [targetStyle]="{'height':'300px'}"
  [sourceHeader]="sourceHeader | translate"
  [targetHeader]="targetHeader | translate"
  [sourceFilterPlaceholder]="sourceFilterPlaceholder | translate"
  [targetFilterPlaceholder]="targetFilterPlaceholder | translate"
  [showTargetControls]="showTargetControls"

  [responsive]="true"
  [showSourceControls]="false"
  [metaKeySelection]="true"

  (onMoveToSource)="sortSourceList()"
  >

  <ng-template let-i pTemplate="item">
    <div class="ui-helper-clearfix">
        <div class="spc--left--sml">{{i[labelField]}}</div>
    </div>
  </ng-template>
</p-pickList>
