<app-page-header *ngIf="useHeader" [pageTitle]="pageTitle" [stepTitle]="stepTitle" [stepDescription]="stepDescription"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--clear btn--sml" (click)="submitRequest()">{{ 'ReinstateSmartCard.Next' | translate }}</button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="firstStepUrl"></app-cancel-button>
</div>
<div class="layout--main__content">
  <div class="row">
    <div class="col col-sml-12 col-med-6 col-lrg-4">
      <div class="field">
        <label>{{'ReinstateSmartCard.Label' | translate}}</label>
        <input type="number" class="input input--sml" [ngModel]="effectiveRevocation" (ngModelChange)="effectiveRevocation=$event">
      </div>
    </div>
  </div>
</div>
