<app-page-header [pageTitle]="pageTitle" [stepTitle]="stepTitle" [stepDescription]="'SelectUser.Description'"></app-page-header>
<div class="sticky-wrapper">
<div class="heading heading--tertiary" appSticky>
  <app-previous-state-button [disabled]="true" [isFirstStep]="true"></app-previous-state-button>
   <span class="btn__separator"></span>
  <button class="btn btn--clear btn--sml" [disabled]="selectedUser == null" (click)="goToNextPage()">
    {{ 'ButtonNext.Text' | translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
  </button>
  <span class="btn__separator"></span>
  <app-cancel-button></app-cancel-button>
</div>
</div>
<div class="layout--main__content">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="filters">
      <div class="row">
        <div class="col col-sml-12 col-med-6 col-lrg-4">
          <div class="field">
            <label>{{'SelectUser.Filter.SearchTerm' | translate}}</label>
            <input type="text" class="input input--sml" formControlName="searchInput" required />
          </div>
        </div>
        <div class="col col-sml-12 col-med-6 col-lrg-4">
          <div class="field">
            <label>{{'SelectUser.Filter.Domain' | translate}}</label>
            <select class="input input--select input--sml" formControlName="domain">
              <option *ngFor="let item of domain" [ngValue]="item">{{item | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col col-sml-12 col-med-12 col-lrg-4">
          <div class="field">
            <label>{{'SelectUser.Filter.SearchIn' | translate}}</label>
            <select class="input input--select input--sml" formControlName="searchInTypes">
              <option *ngFor="let type of searchInTypes" [ngValue]="type">
                {{ type | translate}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="filters__action">
        <button type="submit" class="btn btn--primary btn--filters" [disabled]="form.invalid">
          <i class="material-icons type--lrg align--v--middle">search</i>
        </button>
      </div>
    </div>
  </form>

  <ng-template #noItems>
    <div *ngIf="!isLoading">
        <span *ngIf="isInit">{{'SelectUser.Table.InitSearch' | translate}}</span>
        <span *ngIf="!isInit">{{'SelectUser.Table.NoDataUsers' | translate}}</span>
    </div>
  </ng-template>

  <div class="table__holder" *ngIf="(response && response.tableFields && response.items.length > 0) else noItems">
    <table class="table">
      <thead class="table__header">
        <tr class="table__row">
          <th *ngFor="let item of response.tableFields" class="table__header__cell">
            {{ item | translate}}
          </th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr *ngFor="let item of response.items" class="table__row" (click)="selectUser(item)" [ngClass]="{'is-active': item == selectedUser}">
          <td *ngFor="let column of response.tableFields" class="table__cell" attr.aria-label="{{ column | translate }}">
            {{getColumnValue(column, item) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="response  && response.items.length > 0">
    <p-paginator class="pagination" [rows]="currentPaging.rows" [first]="currentPaging.getFirstItemIndex()" [totalRecords]="currentPaging.totalRecords" (onPageChange)="manageTable($event)" pageLinkSize="3"></p-paginator>
    </div>
  </div>
</div>
