/**
* Title: SharePoint
* Author/s: Mono
* CSS build platform: Gulp
* CSS development build command: gulp styles
* CSS production build command: gulp styles
* CSS processor: PostCSS
* CSS processor usage: autoprefixing, nesting, variables, minification, pxtorem, color functions
* CSS name convention: BEM
* Global indentation: 4 spaces
* Global units: px
* Global prefix: none
* Browser support: IE9+, last 3 versions of modern browsers, Android 4+, iOS6+
* Additional notes: Some properties with pixel units (depending on the whitelist in Gulpfile) are being recalculated to REM units
*/

/**
* Import: vars
* Description: variables
*/

/*------------------------------------*\
    # vars.globals
\*------------------------------------*/

/**
 * The $unit variable is a global variable to be used
 * in paddings, margins, for sizing and positioning
 */

/**
 * The $spacer variable is a global variable to be used
 * in to create a unified spacer for all kinds of elements
 */

/**
 * Global class prefix - usage: .$(global-prefix)classname
 */

/**
 * Global radius and rounded
 */

/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
 * Project base line height (unitless in order to work with typomatic)
 */

/**
* Type scale sizes must be entered in their pixel size
* (unitless in order to work with typomatic)
* Default type scale ratio: 1.333;
*/

/**
* Type weights
*/

/**
* Font stacks
*/

/*------------------------------------*\
    # vars.responsive
\*------------------------------------*/

/* 544px */

/* 543px */

/* 768px */

/* 767px */

/* 992px */

/* 991px */

/* 1200px */

/* 1199px */

/* 1440px */

/* 1439px */

/* 1600px */

/* 1599px */

/* height */

/* 800px */

/* 799px */

/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

/**
* Generic colors
* Color naming taken from: http://www.color-blindness.com/color-name-hue/
*/

/**
* Brand colors
*/

/**
* Global text color
*/

/**
* Theme colors
*/

/**
* Grey colors
*/

/*
    Shades of gray (pure gray)
    ------------------------------------
    If you need mix some color to gray, use 10% of saturated color
*/

/*  6% - lightness */

/* 17% - lightness */

/* 28% - lightness */

/* 39% - lightness */

/* 50% - lightness */

/* 61% - lightness */

/* 72% - lightness */

/* 83% - lightness */

/* 94% - lightness */

/**
* Utility colors
*/

/*------------------------------------*\
    # vars.shadows
\*------------------------------------*/

/**
* Import: tools
* Description: tools like typomatic and other mixins / libraries
*/

/*------------------------------------*\
    # tools.typomatic
\*------------------------------------*/

/**
 * Mixin name: typomatic-init
 * Description: creates a vertical rhythm on a page using font-size
 * and line-height on the html element
 * Parameters: 
 * does not take parameters
 */

/**
 * Mixin name: type-scale
 * Description: type-scale sets the type to baseline to achieve
 * vertical rhythm.
 * Parameters: 
 * $scale ($base-font-size is default) - font size (unitless) variable
 * $baselines (1 is default) - number of baselines
 */

/*------------------------------------*\
    # tools.ricky
\*------------------------------------*/

/**
 * Custom grid based on flexbox.
 * $f-grid-gutter - amount of space between columns
 * $f-grid-columns - number of columns of the grid
 */

/**
  * The flex-col mixin is used for building flexbox grid columns
  */

/**
  * The grid-pull mixin is used for pulling columns using margin-left
  * for the space of a number of columns
  */

/**
  * Row
  */

.row {
     margin-left: -10px;
     margin-right: -10px;
     display: flex;
     justify-content: left;
     flex-wrap: wrap; 
 }

/**
  * Column
  */

.col {
     padding-left: 10px;
     padding-right: 10px;
     transition: all 250ms ease-out;
 }

/*------------------------------------*\
    # tools.clearing
\*------------------------------------*/

.clearfix:after {
          content: "";
          display: table;
          clear: both;
    }

.group {
    overflow: hidden;
}

/**
* Import: generic
* Description: normalize or reset CSS, box sizing
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*------------------------------------*\
    # generic.boxsizing
\*------------------------------------*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/**
* Import: base
* Description: base structural stylings for setting the body, typography
* and other base styles (no classes should be added here)
*/

/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */

html {
    font-size: 87.5%;
    line-height: 1.71429;
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    color: #222;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}

/*------------------------------------*\
    # base.typography
\*------------------------------------*/

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "TitilliumWeb", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 33px;
    line-height: 42px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
}

h3 {
    font-size: 23px;
    line-height: 30px;
}

h4 {
    font-size: 19px;
    line-height: 24px;
}

h5, h6 {
    font-size: 16px;
    line-height: 24px;
}

/**
 * Paragraphs
 */

p {
    margin: 0;
}

/**
 * Lists (ol, ul, dd)
 */

ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {}

ol li {}

ul {}

ul li {}

dd {}

dl dt {}

dl dd {}

/**
 * Anchors
 */

a {
    color: #2aace2;
    text-decoration: none;
}

a:link {}

a:hover {
    color: rgb(41, 153, 201);
    text-decoration: none;    
}

a:focus {
    outline: 0;
    color: #2aace2;
}

a:visited {}

/**
 * Typographic details
 */

hr {
}

em {}

b, strong {
    font-weight: bold
}

address {}

small {}

pre {}

code {}

sub {}

sup {}

strike {}

/**
* Import: modules
* Description: cross project reusable modules
*/

/*------------------------------------*\
    # modules.btn
\*------------------------------------*/

.btn {

    /**
     * Button base
     */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;

    /**
     * Button base project styling
     */
    font-family: "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0em;
    transition: ease .2s all;
}

.btn:focus {
        outline: 0;
    }

.btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

/**
     * Button styles
     */

.btn--primary {
        background: #2aace2;
        color: white;
    }

.btn--primary:hover {
            background: rgb(41, 153, 201);
        }

.btn--secondary {
        background: #2d3033;
        color: white;
    }

.btn--secondary:hover {
            background: rgb(43, 43, 43);
        }

.btn--ghost {
        background-color: transparent;
        color: #2aace2;
    }

.btn--ghost:hover {
            color: rgb(41, 153, 201);
        }

.btn--ghost--warning {
            color: #f44336;
        }

.btn--ghost--warning:hover {
                color: rgb(219, 65, 54);
            }

.btn--light {
        background-color: #d4d4d4;
        color: #222;
    }

.btn--light:hover {
            background-color: rgb(192, 192, 192);
        }

.btn--default {
        background: #f0f0f0;
        color: #2aace2;
    }

.btn--default:hover {
            color: #2aace2;
            background: rgb(218, 218, 218);
        }

.btn--clear {
        background-color: transparent;
        color: #474747;
    }

.btn--clear:hover {
            opacity: 0.8;
            background: transparent;
        }

.btn--clear--primary {
            color: #2aace2;
        }

.btn--rounded {
        border-radius: 1000px;
    }

.btn--filters {
        width: 100%;
        height: 100%;
    }

.btn--cancel {
        background: #474747;
        color: #fff;
    }

.btn--cancel:hover {
            color: #fff;
            background: rgb(65, 65, 65);
        }

.btn--link--primary {
            color: #2aace2;
        }

.btn--link--primary:hover {
                color: rgb(41, 153, 201);
            }

/**
     * Button sizes
     */

.btn--sml {
        height: 24px;
        line-height: 24px;
        padding: 0 12px;
    }

.btn--med {
        height: 36px;
        line-height: 36px;
        padding: 0 18px;
    }

.btn--lrg {
        height: 48px;
        line-height: 48px;
        padding: 0 24px;
    }

.btn--reset {
        padding: 0;
        background-color: transparent;
        border: none;        
    }

.btn__loader {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border: 2px solid #fff;
        border-bottom-color: #2aace2;
        border-radius: 1000px;
        vertical-align: -2px;
        -webkit-animation-name: btnLoader;
                animation-name: btnLoader;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

.btn--cancel {
        height: 32px;
        padding: 0 10px;
        background: #dddddd !important;
        color: #001524 !important;
        line-height: 32px;
        border-radius: 3px !important;
    }

.btn__separator {
        position: relative;
        margin-right: 6px;
    }

.btn__separator:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: #d4d4d4;
        }

@-webkit-keyframes btnLoader {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes btnLoader {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*------------------------------------*\
    # modules.container
\*------------------------------------*/

.container {
    margin: 0 auto;
    max-width: 1440px;
}

/*make container stretch from one side to another*/

.container--fluid {
        margin: 0;
        width: 100%;
    }

.container--padd {
        width: 100%;
        padding: 0 24px;
    }

.container--sml {
    	max-width: 768px;
    }

/*------------------------------------*\
    # modules.field
\*------------------------------------*/

.field {
    height: 100%;
    /* min-height: 78px; */
    margin-bottom: 6px;
    padding: 12px;
    background-color: #fff;
}

@media   (min-width: 48em) {

.field {
        margin-bottom: 0
}
    }

.field--alt {
    	padding-bottom: 12px;
    }

.field--noheight {
    	height: auto;
    }

.field--nobreak {
    	white-space: nowrap;
    }

@media      (max-width: 33.9375em) {

.field--spaced--to--sml {
                    margin-bottom: 12px
            }
                }

@media     (max-width: 47.9375em) {

.field--spaced--to--med {
                    margin-bottom: 12px
            }
                }

/*------------------------------------*\
    # modules.fileupload
\*------------------------------------*/

.fileupload__holder {
        position: relative;
        width: 100%;
        height: 24px;
        line-height: 24px;
        background-color: #fff;
        border: 1px solid rgb(196, 196, 196);
        overflow: hidden;
    }

.fileupload__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

.fileupload__input + label {
            display: block;
            height: 100%;
            padding: 6px;
            line-height: 24px;
            font-size: 13px;
            line-height: 12px;
        }

/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    /**
     * Input base
     */
    display: inline-block;
    width: 100%;

    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    -moz-appearance: none;
         appearance: none;
    transition: border-color 200ms;
    -webkit-appearance: none;
    background-color: white;

    /**
     * Input base project styling
     */
    font-family: "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    border: 1px solid rgb(196, 196, 196);


}

.input::-webkit-input-placeholder {
        color: rgb(159, 159, 159);
    }

.input::-ms-input-placeholder {
        color: rgb(159, 159, 159);
    }

.input::placeholder {
        color: rgb(159, 159, 159);
    }

.input::-webkit-inner-spin-button,
    .input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.input:invalid {
        border: 1px solid #f44336;
    }

.input:focus {
        outline: 0;
        border-color: rgb(89, 189, 232);
    }

.input:disabled {
        background-color: #f0f0f0;
    }

.input:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

.input--auto {
        width: auto;
    }

/**
     * Input sizes
     */

.input--sml {
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
    }

.input--med {
        height: 36px !important;
        line-height: 36px;
        padding: 0 12px;
    }

.input--lrg {
        height: 48px;
        line-height: 48px;
        padding: 0 18px;
    }

/**
     * Input types
     */

.input--text {
        font-size: 13px;
        line-height: 24px;
        padding: 9px;
        width: 100%;
    }

.input--textarea {
         padding: 9px;
         width: 100%;
         max-width: 100%;
         height: 98px;
         resize: none;
    }

.input--select,
    .input--date,
    .input--search {
        padding-right: 24px;
        background-image: url(assets/images/icons/ic_arrow_drop_down_black_24px.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 99% center;
        vertical-align: middle;
    }

.input--select--header, .input--date--header, .input--search--header {
            height: 100%;
            padding-left: 12px;
            background-image: url(assets/images/icons/ic_arrow_drop_down_white_24px.svg);
            background-color: #1f2226;
            color: #fff;
            border: none;
        }

.input--date {
        background-image: url(assets/images/icons/ic_date_range_black_24px.svg);
    }

.input--search {
        background-image: url(assets/images/icons/ic_search_black_24px.svg);
    }

.input--check,
    .input--radio {
        opacity: 0;
        position: absolute;
    }

.input--check:hover, .input--radio:hover {
            cursor: pointer;
        }

.input--check--alt, .input--radio--alt {
            width: calc(100% - 72px);
            height: 54px;
            margin-top: -6px;
        }

@media    (min-width: 62em) {

.input--check--alt, .input--radio--alt {
                width: 36px;
                height: 42px;
                margin-top: -12px
        }
            }

.input--check + label, .input--radio + label {
            font-size: 13px;
            line-height: 24px;
            
            white-space: nowrap;
            cursor: pointer;
        }

.input--check + label:before, .input--radio + label:before {
                content: '';
                float: left;
                width: 18px;
                height: 18px;
                margin-top: 3px;
                margin-right: 12px;
                border: 1px solid #d4d4d4;
            }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

.input--check + label:before, .input--radio + label:before {
                    width: 19px;
                    height: 19px
            }
                }

.input--check:checked + label:before, .input--radio:checked + label:before {
                    background-repeat: no-repeat;
                    background-position: center center;
                }

.input--check:focus + label:before, .input--radio:focus + label:before {
                    box-shadow: 0 0 10px rgba(0,0,0,0.4);
                }

.input--check:checked + label:before {
                    background-image: url(/assets/images/icons/ic_check_box_black_24px.svg);
                    border-color: transparent;
                }

.input--radio + label:before {
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center center;
            }

.input--radio:checked + label:before {
                    background-image: url(/assets/images/icons/ic_radio_button_checked_black_24px.svg);
                }

.input--radio:focus + label:before {
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }

.input--warning {
        border: 1px solid #f44336;
    }

.input--currency {
        /* background-image: url(../../assets/img/money-icon.svg); */
        background-repeat: no-repeat;
        background-position: 1% center;
        padding-left: 5% !important;
    }

.input__note {
        color: #b8b8b8;
        font-style: italic;
    }

.input__note--ellipsis {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

input[type=number] {
    -moz-appearance:textfield;
}

select::-ms-expand {
    display: none;
}

/*------------------------------------*\
    # modules.inputgroup
\*------------------------------------*/

.inputgroup {
    display: table;
    position: relative;
    border-collapse: separate;
    width: 100%;
}

.inputgroup--main {
        display: table-cell;
        width: 100%;
        z-index: 2;
    }

.inputgroup--aside { 
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }

/*------------------------------------*\
    # modules.label
\*------------------------------------*/

@-moz-document url-prefix() {
        .label--alt {
            display: block;
            margin-bottom: 1px;
        }

            @media   (min-width: 48em) {
        .label--alt {
                margin-bottom: 2px
        }
            }
}

/*------------------------------------*\
    # modules.tag
\*------------------------------------*/

.tag {
	display: inline-block;
    margin: 0 6px 6px 0;
    padding: 3px 9px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}

.tag__reset {
        margin-left: 3px;
        font-size: 12px;
        line-height: 12px;
        color: #f44336;
        border-radius: 1000px;
        vertical-align: middle;
        transition: ease .2s all;
    }

.tag__reset:hover {
            cursor: pointer;
        }

.tag__reset i {
            font-size: 12px;
            line-height: 19.2px;
        }

/*------------------------------------*\
    # modules.section
\*------------------------------------*/

.section--primary {
        padding: 120px 48px;
    }

.section--alt {
        background-color: #f2f2f2;
    }

.section--bordered {
    	border: 1px solid #d4d4d4;
    }

/*------------------------------------*\
    # modules.list
\*------------------------------------*/

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
        margin-bottom: 12px;
        padding-bottom: 6px;
        border-bottom: 1px solid #f0f0f0;
    }

.list__item:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        	border-bottom: none;
        }

/*------------------------------------*\
    # modules.note
\*------------------------------------*/

.note {
    position: relative;
    padding: 12px;
    background-color: #fff;
    text-align: center;
}

.note:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
    }

/*------------------------------------*\
    # modules.table
\*------------------------------------*/

.table {
    width: 100%;
    border-collapse: unset;
}

.table--collapse {
        border-collapse: collapse;
    }

.table td {
        vertical-align: top;
    }

.table--bordered--bottom th, .table--bordered--bottom td {
                border-bottom: 1px solid #d4d4d4;
            }

.table--bordered--bottom tr:last-child td {
                        border-bottom: none;
                    }

@media    (min-width: 62em) {

.table {
        border-collapse: collapse
}
    }

.table__holder {
        width: 100%;
        max-height: none;
        margin-bottom: 12px;
        overflow-y: auto;
    }

@media   (min-width: 48em) {

.table__holder {
            max-height: calc(100vh - 384px)
    }
        }

@media    (min-width: 62em) {

.table__holder {
            max-height: calc(100vh - 356px)
    }
        }

.table__holder--primary {
            max-height: none;
        }

@media   (min-width: 48em) {

.table__holder--primary {
                max-height: calc(100vh - 438px)
        }
            }

@media    (min-width: 62em) {

.table__holder--primary {
                max-height: calc(100vh - 356px)
        }
            }

.table__holder--secondary {
            max-height: none;
        }

@media   (min-width: 48em) {

.table__holder--secondary {
                max-height: calc(100vh - 278px)
        }
            }

@media    (min-width: 62em) {

.table__holder--secondary {
                max-height: calc(100vh - 280px)
        }
            }

.table__holder--tertiary {
            max-height: none;
        }

@media   (min-width: 48em) {

.table__holder--tertiary {
                max-height: calc(100vh - 356px)
        }
            }

.table__holder--alt {
            max-height: none;
        }

.table__header {
        display: none;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        white-space: nowrap;
    }

@media    (min-width: 62em) {

.table__header {
            display: table-header-group;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: 100%
    }
        }

.table__header--alt {
            background-color: #fff;
            color: #2aace2;
        }

.table__header__cell {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 6px 9px;
            border: none;
            text-align: left;
            background-color: #2aace2;
        }

.table__header__cell a {
                color: #fff;
            }

.table__header__cell--inner {
                border-bottom: 1px solid #f0f0f0;
            }

.table__body {
        display: block;
    }

@media    (min-width: 62em) {

.table__body {
            display: table-row-group
    }
        }

.table__row {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #fff;
    }

@media    (min-width: 62em) {

.table__row {
            display: table-row;
            margin-bottom: 0;
            background-color: transparent;
            border: none
    }
        }

.table__row--nopointer {
            cursor: default;
        }

.table__row--alt {
            margin-top: -12px;
        }

@media    (min-width: 62em) {

.table__row--alt {
                margin-top: 0
        }
            }

.table__row.is-active {
            border: 1px solid #2aace2;
        }

@media    (min-width: 62em) {

.table__row.is-active {
                border: none
        }
            }

.table__row.is-disabled {
            background-color: #f0f0f0;
            color: #9c9c9c;
        }

.table__cell {
        display: block;
        padding: 6px 9px;
        min-height: 54px;
        border-bottom: 1px solid #d4d4d4;
    }

.table__cell:last-child {
            border-bottom: none;
        }

.table__cell:before {
            content: attr(aria-label);
            display: block;
            font-size: 12px;
            line-height: 18px;
            font-weight: 700;
        }

@media    (min-width: 62em) {

.table__cell {
            display: table-cell;
            min-height: 0;
            vertical-align: top
    }

            .table__cell:last-child {
                border-bottom: 1px solid #d4d4d4;
            }

            .table__cell:last-child {
                border-bottom: 1px solid #d4d4d4;
            }

            .table__cell:before {
                display: none;
            }
        }

.table__cell--middle {
            vertical-align: middle;
        }

.table__input {
        left: 0;
    }

@media    (min-width: 62em) {

.table--inneralign {
            padding-left: 63px
    }
        }

/*------------------------------------*\
    # modules.filters
\*------------------------------------*/

.filters {
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 36px;
}

@media   (min-width: 48em) {

.filters {
        margin-bottom: 6px;
        padding-right: 84px;
        padding-bottom: 0
}
    }

.filters__action {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36px;
    }

@media   (min-width: 48em) {

.filters__action {
            top: 0;
            right: 0;
            left: auto;
            width: 78px;
            /* height: calc(100% - $unit); */
            height: 100%
    }
        }

@media   (min-width: 48em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {

.filters__action {
            height: 100%
    }
        }

@media   (min-width: 48em) {

.filters .row {
            display: flex
    }
        }

/*------------------------------------*\
    # modules.validation
\*------------------------------------*/

.validation-summary {
	padding: 6px 12px;
    background: rgb(245, 209, 207);
    border-left: 1px solid #f44336;
}

.validation-summary:first-child li, .validation-summary li {
    	padding-top: 3px;
    	padding-bottom: 0;
    }

.validation-summary:last-child li, .validation-summary li {
    	padding-bottom: 3px;
    }

/* @import modules.anchor.css; */

/**
* Import: components
* Description: specific website/app components
*/

/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #2d3033;
    overflow: hidden;
    transition: ease .5s all;
    z-index: 999;
}

@media   (min-width: 75em) {

.header.is-active {
            left: 0
    }
        }

.header__logo {
        display: table-cell;
        vertical-align: middle;
        padding: 12px 0;
    }

.header__logo__outer {            
            display: table;
            width: auto;
            height: 60px;
            float: left;
            padding: 0 19.5px;
        }

@media   (min-width: 75em) {

.header__logo__outer {
                width: 280px;
                padding: 0 24px
        }
            }

.header__logo__inner {
            display: table-row;
        }

.header__logo__image {
            max-width: 120px;
            max-height: 36px;
        }

@media   (min-width: 75em) {

.header__logo__image {
                max-width: 232px
        }
            }

.header__select {
        float: right;
        height: 60px;
    }

.header__select__label {
            display: none;
            color: #fff;
        }

@media    (min-width: 34em) {

.header__select__label {
                display: inline;
                margin-right: 6px
        }
            }

.header__text {
        display: none;
        float: left;
        padding: 18px 20px;
        color: #fff;
    }

@media    (min-width: 62em) {

.header__text {
            display: block
    }
        }

/*------------------------------------*\
    # components.layout
\*------------------------------------*/

@media     (max-width: 74.9375em) {
            .layout.is-active .layout--aside {
                left: 0;
            }
        }

.layout--aside {        
        position: fixed;        
        top: 60px;
        bottom: 0;
        left: -100%;
        width: 280px;        
        overflow-y: auto;
        transition: ease .4s all;
        z-index: 9;
    }

@media   (min-width: 75em) {

.layout--aside {
            left: 0
    }
        }

.layout--main {
        position: fixed;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        transition: ease .4s all;
    }

@media   (min-width: 75em) {

.layout--main {
            left: 280px
    }
        }

.layout--main__content {
            padding: 12px 18px;
        }

/*------------------------------------*\
    # components.nav
\*------------------------------------*/

.nav {
    width: 100%;
}

.nav__title {
        width: 100%;
        margin-bottom: 6px;
        padding: 15px 24px;
        color: #54575a;
        border-bottom: 1px solid #2d3033;
    }

.nav--primary__list {
            width: 100%;
        }

.nav--primary__link {
            position: relative;
            display: block;
            padding: 6px 24px;
            color: var(--menu-font-color);
            cursor: pointer;
        }

.nav--primary__link:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
            }

.nav--primary__link:focus, .nav--primary__link:hover {
              color: #2aace2;
            }

.nav--primary__link--primary:before {
                    background-color: purple;
                }

.nav--primary__link--secondary:before {
                    background-color: yellow;
                }

.nav--primary__link--tertiary:before {
                    background-color: orange;
                }

.nav--secondary__list {
            display: none;
            position: relative;
            width: 100%;
            background-color: #2d3033;
        }

.nav--secondary__list.active {
                display: block;
            }

.nav--secondary__link {
            position: relative;
            display: block;
            padding: 9px 12px 9px 36px;
            color: #fff;
            cursor: pointer;
        }

.nav--secondary__link:focus, .nav--secondary__link:hover {
                color: #2aace2;
            }

.nav--secondary__link.is-active {
                color: #2aace2;
            }

/*------------------------------------*\
    # components.sidebar
\*------------------------------------*/

.sidebar__logo {
        display: block;
        height: 60px;
        padding: 18px 24px;
        background-color: #2d3033;
    }

.sidebar__logo__image {
            width: 96px;
        }

.sidebar__footer {
      margin-top: 6px;
      padding: 15px 24px;
      color: #54575a;
      border-top: 1px solid #2d3033;

      /* @media (--screen-from-sidebar-footer) {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          margin-top: 0;
      } */
  }

.sidebar__message {
      padding: 24px;
      border-bottom: 1px solid #2d3033;
      color: #fff;
  }

@media   (min-width: 48em) {

.sidebar__message {
          display: none
  }
      }

/*------------------------------------*\
    # components.settings
\*------------------------------------*/

.settings__title {
        margin-bottom: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #f0f0f0;
    }

/*------------------------------------*\
    # components.loader
\*------------------------------------*/

.loader--horizontal__holder {
            position: relative;
            width: 100%;
            height: 6px;
            margin: 18px 0 24px;
            overflow: hidden;
            background: #fff;
        }

.loader--horizontal__bar {
            position: absolute;
            top: 2px;
            left: 0;
            width: 60px;
            height: 2px;
            background-color: #2aace2;
            -webkit-animation: loaderHorizontal 2s infinite;
                    animation: loaderHorizontal 2s infinite;
        }

@-webkit-keyframes loaderHorizontal {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes loaderHorizontal {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

/*------------------------------------*\
    # components.heading
\*------------------------------------*/

.heading--primary {
        padding: 9px 18px;
        border-bottom: 1px solid #f0f0f0;
    }

@media    (min-width: 62em) {

.heading--primary {
            padding: 12px 18px;
            border-bottom: 1px solid #d4d4d4
    }
        }

.heading--primary__title {
            display: inline-block;
            font-family: "TitilliumWeb", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
            color: var(--page-title-font-color);
        }

@media   (min-width: 48em) {

.heading--primary__title {
                margin-bottom: 12px;
                padding: 0 144px
        }
            }

.heading--secondary {
        overflow: hidden;
        padding: 9px 18px;
        border-bottom: 1px solid #f0f0f0;
    }

@media    (min-width: 62em) {

.heading--secondary {
            padding: 6px 18px;
            border-bottom: 1px solid #d4d4d4
    }
        }

.heading--secondary__title {
            position: relative;
        }

@media    (min-width: 62em) {

.heading--secondary__title {
                float: left;
                padding-right: 24px
        }

                .heading--secondary__title:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 2px;
                    right: 12px;
                    width: 1px;
                    height: 18px;
                    background-color: #d4d4d4;
                }
            }

@media    (min-width: 62em) {

.heading--secondary__description {
                float: left;
                margin-right: 12px
        }
            }

.heading--tertiary {
        padding: 9px 6px;
        border-bottom: 1px solid #d4d4d4;


    }

@media    (min-width: 62em) {

.heading--tertiary {
            padding: 6px


    }
        }

.heading--tertiary.is-active {
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            padding: 15px 18px;
            background-color: #f0f0f0;
            border-bottom: 1px solid #d4d4d4;
            transition: ease .2s all;
            z-index: 2;
        }

@media   (min-width: 75em) {

.heading--tertiary.is-active {
                left: 280px
        }
            }

.sticky-wrapper {
    padding: 9px 6px;
}

@media   (min-width: 48em) {

.sticky-wrapper {
        height: 60px
}
    }

/*------------------------------------*\
    # components.pagination
\*------------------------------------*/

.pagination {
    display: inline-block;
}

.pagination .ui-paginator {
        background-image: none;
        background: transparent;
        border: none;
    }

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #2aace2;
    color: #ffffff;
    border-color: #2aace2;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #2aace2;
    color: #fff;
    border: 1px solid #2aace2;
}

.ui-paginator a {
    color: #2aace2;
    border: 1px solid #2aace2;
}

.ui-paginator a:hover {
        background: #2aace2;
        color: #fff;
    }

/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer__action--primary {
            margin-bottom: 12px;
            text-align: center;
        }

@media   (min-width: 48em) {

.footer__action--primary {
                text-align: left
        }
            }

@media    (min-width: 62em) {

.footer__action--primary {
                margin-bottom: 0
        }
            }

@media    (min-width: 62em) {

.footer__action--secondary {
                text-align: right
        }
            }

.footer__action__btn {
            width: 100%;
            margin-bottom: 6px;
        }

@media    (min-width: 34em) {

.footer__action__btn {
                width: calc(50% - 2px)
        }
            }

@media   (min-width: 48em) {

.footer__action__btn {
                width: auto;
                margin-bottom: 0
        }
            }

/* @import components.footer.css; */

/**
* Import: views
* Description: specific website/app views (example: 404 view, login view)
*/

/* @import view.login.css; */

/* @import view.404.css; */

/*------------------------------------*\
    #view.home
\*------------------------------------*/

.home__hero {
		display: block;
		padding: 240px 48px 186px 48px;
		background-color: #008000;
		color: white;
	}

.home__hero__title {
            font-size: 56px;
            line-height: 48px;
        }

.home__hero__subtitle {
            font-size: 23px;
            line-height: 36px;
            font-weight: 300;
            width: 480px;
        }

.home__top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        padding: 12px 24px;

        background-color: white;
        border-bottom: 1px solid #dedede;
    }

.home__baseline {
        z-index: 0;
    }

.home__baseline:after {
            background: linear-gradient(to bottom, hsla(280, 50%, 30%, 0.1), hsla(280, 50%, 30%, 0.1) 1px, transparent 1px, transparent);
            background-size: 100% 6px;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
            pointer-events: none;
        }

.home__title--primary {
            font-size: 33px;
            line-height: 48px;
            color: #2aace2;
        }

.home__title--secondary {
            font-family: "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
            color: #2d3033;
        }

.home__divider--primary {
            width: 36px;
            height: 3px;
            background-color: #2aace2;
        }

.home__divider--styled {
            height: 54px;
            /* background-image: url('../img/home/hero-pattern.svg'); */
            background-repeat: repeat-x;
            background-size: 100px;
            
        }

.home__data--primary {
            position: relative;
        }

.home__data--primary:before {
                font-size: 16px;
                font-weight: 400;
                
                content: attr(data-name);
                display: block;

                position: absolute;
                left: -84px;
                
                width: 84px;
                color: #2aace2;
            }

.home__grid .col span {
                display: block;
                padding: 18px;
                background-color: rgba(255, 0, 0, 0.25);
            }

.home__grid.row, .home__grid .row {
            background-color: rgba(0, 0, 255, 0.25);
        }

/*------------------------------------*\
    # view.welcome
\*------------------------------------*/

.welcome {
	text-align: center;
}

.welcome__image {
		display: block;
    max-width: 210px;
		margin: 0 auto;
	}

.welcome__title {
		position: relative;
	    margin-bottom: 12px;
    	padding-top: 6px;    	
	}

.welcome__title:before {
    		content: '';
    		display: block;
    		width: 60px;
    		height: 1px;
    		margin: 18px auto;
    		background-color: #f0f0f0;
    	}

/**
* Import: utils
* Description: reusable utilities such as floats, spacers etc.
*/

/*------------------------------------*\
    # utils.grid
\*------------------------------------*/

/**
 * Small grid
 */

.col-sml-1 {
    width: 8.33333%;
}

.col-sml-2 {
    width: 16.66667%;
}

.col-sml-3 {
    width: 25%;
}

.col-sml-4 {
    width: 33.33333%;
}

.col-sml-5 {
    width: 41.66667%;
}

.col-sml-6 {
    width: 50%;
}

.col-sml-7 {
    width: 58.33333%;
}

.col-sml-8 {
    width: 66.66667%;
}

.col-sml-9 {
    width: 75%;
}

.col-sml-10 {
    width: 83.33333%;
}

.col-sml-11 {
    width: 91.66667%;
}

.col-sml-12 {
    width: 100%;
}

/**
 * Medium grid
 */

@media    (min-width: 34em) {
    .col-med-1 {
        width: 8.33333%;
    }
    .col-med-2 {
        width: 16.66667%;
    }
    .col-med-3 {
        width: 25%;
    }
    .col-med-4 {
        width: 33.33333%;
    }
    .col-med-5 {
        width: 41.66667%;
    }
    .col-med-6 {
        width: 50%;
    }
    .col-med-7 {
        width: 58.33333%;
    }
    .col-med-8 {
        width: 66.66667%;
    }
    .col-med-9 {
        width: 75%;
    }
    .col-med-10 {
        width: 83.33333%;
    }
    .col-med-11 {
        width: 91.66667%;
    }
    .col-med-12 {
        width: 100%;
    }
}

/**
 * Large grid
 */

@media   (min-width: 48em) {
    .col-lrg-1 {
        width: 8.33333%;
    }
    .col-lrg-2 {
        width: 16.66667%;
    }
    .col-lrg-3 {
        width: 25%;
    }
    .col-lrg-4 {
        width: 33.33333%;
    }
    .col-lrg-5 {
        width: 41.66667%;
    }
    .col-lrg-6 {
        width: 50%;
    }
    .col-lrg-7 {
        width: 58.33333%;
    }
    .col-lrg-8 {
        width: 66.66667%;
    }
    .col-lrg-9 {
        width: 75%;
    }
    .col-lrg-10 {
        width: 83.33333%;
    }
    .col-lrg-11 {
        width: 91.66667%;
    }
    .col-lrg-12 {
        width: 100%;
    }
}

/**
 * XLarge grid
 */

@media    (min-width: 62em) {
    .col-xlrg-1 {
        width: 8.33333%;
    }
    .col-xlrg-2 {
        width: 16.66667%;
    }
    .col-xlrg-3 {
        width: 25%;
    }
    .col-xlrg-4 {
        width: 33.33333%;
    }
    .col-xlrg-5 {
        width: 41.66667%;
    }
    .col-xlrg-6 {
        width: 50%;
    }
    .col-xlrg-7 {
        width: 58.33333%;
    }
    .col-xlrg-8 {
        width: 66.66667%;
    }
    .col-xlrg-9 {
        width: 75%;
    }
    .col-xlrg-10 {
        width: 83.33333%;
    }
    .col-xlrg-11 {
        width: 91.66667%;
    }
    .col-xlrg-12 {
        width: 100%;
    }
}

/**
 * XXLarge grid
 */

@media   (min-width: 75em) {
    .col-xxlrg-1 {
        width: 8.33333%;
    }
    .col-xxlrg-2 {
        width: 16.66667%;
    }
    .col-xxlrg-3 {
        width: 25%;
    }
    .col-xxlrg-4 {
        width: 33.33333%;
    }
    .col-xxlrg-5 {
        width: 41.66667%;
    }
    .col-xxlrg-6 {
        width: 50%;
    }
    .col-xxlrg-7 {
        width: 58.33333%;
    }
    .col-xxlrg-8 {
        width: 66.66667%;
    }
    .col-xxlrg-9 {
        width: 75%;
    }
    .col-xxlrg-10 {
        width: 83.33333%;
    }
    .col-xxlrg-11 {
        width: 91.66667%;
    }
    .col-xxlrg-12 {
        width: 100%;
    }
}

/**
 * XXXLarge grid
 */

@media  (min-width: 90em) {
    .col-xxxlrg-1 {
        width: 8.33333%;
    }
    .col-xxxlrg-2 {
        width: 16.66667%;
    }
    .col-xxxlrg-3 {
        width: 25%;
    }
    .col-xxxlrg-4 {
        width: 33.33333%;
    }
    .col-xxxlrg-5 {
        width: 41.66667%;
    }
    .col-xxxlrg-6 {
        width: 50%;
    }
    .col-xxxlrg-7 {
        width: 58.33333%;
    }
    .col-xxxlrg-8 {
        width: 66.66667%;
    }
    .col-xxxlrg-9 {
        width: 75%;
    }
    .col-xxxlrg-10 {
        width: 83.33333%;
    }
    .col-xxxlrg-11 {
        width: 91.66667%;
    }
    .col-xxxlrg-12 {
        width: 100%;
    }
}

/**
 * XXXLarge huge
 */

@media  (min-width: 100em) {
    .col-huge-1 {
        width: 8.33333%;
    }
    .col-huge-2 {
        width: 16.66667%;
    }
    .col-huge-3 {
        width: 25%;
    }
    .col-huge-4 {
        width: 33.33333%;
    }
    .col-huge-5 {
        width: 41.66667%;
    }
    .col-huge-6 {
        width: 50%;
    }
    .col-huge-7 {
        width: 58.33333%;
    }
    .col-huge-8 {
        width: 66.66667%;
    }
    .col-huge-9 {
        width: 75%;
    }
    .col-huge-10 {
        width: 83.33333%;
    }
    .col-huge-11 {
        width: 91.66667%;
    }
    .col-huge-12 {
        width: 100%;
    }
}

/**
 * Grid align
 */

.col-v-center {
    align-self: center;
}

/*------------------------------------*\
    # utils.grid
\*------------------------------------*/

/**
 * Small Grid Push Offset
 */

.col-push-sml-1 {
    margin-left: 8.33333%;
}

.col-push-sml-2 {
    margin-left: 16.66667%;
}

.col-push-sml-3 {
    margin-left: 25%;
}

.col-push-sml-4 {
    margin-left: 33.33333%;
}

.col-push-sml-5 {
    margin-left: 41.66667%;
}

.col-push-sml-6 {
    margin-left: 50%;
}

.col-push-sml-7 {
    margin-left: 58.33333%;
}

.col-push-sml-8 {
    margin-left: 66.66667%;
}

.col-push-sml-9 {
    margin-left: 75%;
}

.col-push-sml-10 {
    margin-left: 83.33333%;
}

.col-push-sml-11 {
    margin-left: 91.66667%;
}

.col-push-sml-12 {
    margin-left: 100%;
}

/**
 * Medium Grid Push Offset
 */

@media    (min-width: 34em) {
    .col-push-med-1 {
        margin-left: 8.33333%;
    }
    .col-push-med-2 {
        margin-left: 16.66667%;
    }
    .col-push-med-3 {
        margin-left: 25%;
    }
    .col-push-med-4 {
        margin-left: 33.33333%;
    }
    .col-push-med-5 {
        margin-left: 41.66667%;
    }
    .col-push-med-6 {
        margin-left: 50%;
    }
    .col-push-med-7 {
        margin-left: 58.33333%;
    }
    .col-push-med-8 {
        margin-left: 66.66667%;
    }
    .col-push-med-9 {
        margin-left: 75%;
    }
    .col-push-med-10 {
        margin-left: 83.33333%;
    }
    .col-push-med-11 {
        margin-left: 91.66667%;
    }
    .col-push-med-12 {
        margin-left: 100%;
    }
}

/**
 * Large Grid Push Offset
 */

@media   (min-width: 48em) {
    .col-push-lrg-1 {
        margin-left: 8.33333%;
    }
    .col-push-lrg-2 {
        margin-left: 16.66667%;
    }
    .col-push-lrg-3 {
        margin-left: 25%;
    }
    .col-push-lrg-4 {
        margin-left: 33.33333%;
    }
    .col-push-lrg-5 {
        margin-left: 41.66667%;
    }
    .col-push-lrg-6 {
        margin-left: 50%;
    }
    .col-push-lrg-7 {
        margin-left: 58.33333%;
    }
    .col-push-lrg-8 {
        margin-left: 66.66667%;
    }
    .col-push-lrg-9 {
        margin-left: 75%;
    }
    .col-push-lrg-10 {
        margin-left: 83.33333%;
    }
    .col-push-lrg-11 {
        margin-left: 91.66667%;
    }
    .col-push-lrg-12 {
        margin-left: 100%;
    }
}

/**
 * XLarge Grid Push Offset
 */

@media    (min-width: 62em) {
    .col-push-xlrg-1 {
        margin-left: 8.33333%;
    }
    .col-push-xlrg-2 {
        margin-left: 16.66667%;
    }
    .col-push-xlrg-3 {
        margin-left: 25%;
    }
    .col-push-xlrg-4 {
        margin-left: 33.33333%;
    }
    .col-push-xlrg-5 {
        margin-left: 41.66667%;
    }
    .col-push-xlrg-6 {
        margin-left: 50%;
    }
    .col-push-xlrg-7 {
        margin-left: 58.33333%;
    }
    .col-push-xlrg-8 {
        margin-left: 66.66667%;
    }
    .col-push-xlrg-9 {
        margin-left: 75%;
    }
    .col-push-xlrg-10 {
        margin-left: 83.33333%;
    }
    .col-push-xlrg-11 {
        margin-left: 91.66667%;
    }
    .col-push-xlrg-12 {
        margin-left: 100%;
    }
}

/**
 * XXLarge Grid Push Offset
 */

@media   (min-width: 75em) {
    .col-push-xxlrg-1 {
        margin-left: 8.33333%;
    }
    .col-push-xxlrg-2 {
        margin-left: 16.66667%;
    }
    .col-push-xxlrg-3 {
        margin-left: 25%;
    }
    .col-push-xxlrg-4 {
        margin-left: 33.33333%;
    }
    .col-push-xxlrg-5 {
        margin-left: 41.66667%;
    }
    .col-push-xxlrg-6 {
        margin-left: 50%;
    }
    .col-push-xxlrg-7 {
        margin-left: 58.33333%;
    }
    .col-push-xxlrg-8 {
        margin-left: 66.66667%;
    }
    .col-push-xxlrg-9 {
        margin-left: 75%;
    }
    .col-push-xxlrg-10 {
        margin-left: 83.33333%;
    }
    .col-push-xxlrg-11 {
        margin-left: 91.66667%;
    }
    .col-push-xxlrg-12 {
        margin-left: 100%;
    }
}

/**
 * Small Grid Push Offset
 */

.col-pull-sml-1 {
    margin-right: 8.33333%;
}

.col-pull-sml-2 {
    margin-right: 16.66667%;
}

.col-pull-sml-3 {
    margin-right: 25%;
}

.col-pull-sml-4 {
    margin-right: 33.33333%;
}

.col-pull-sml-5 {
    margin-right: 41.66667%;
}

.col-pull-sml-6 {
    margin-right: 50%;
}

.col-pull-sml-7 {
    margin-right: 58.33333%;
}

.col-pull-sml-8 {
    margin-right: 66.66667%;
}

.col-pull-sml-9 {
    margin-right: 75%;
}

.col-pull-sml-10 {
    margin-right: 83.33333%;
}

.col-pull-sml-11 {
    margin-right: 91.66667%;
}

.col-pull-sml-12 {
    margin-right: 100%;
}

/**
 * Medium Grid Pull Offset
 */

@media    (min-width: 34em) {
    .col-pull-med-1 {
        margin-right: 8.33333%;
    }
    .col-pull-med-2 {
        margin-right: 16.66667%;
    }
    .col-pull-med-3 {
        margin-right: 25%;
    }
    .col-pull-med-4 {
        margin-right: 33.33333%;
    }
    .col-pull-med-5 {
        margin-right: 41.66667%;
    }
    .col-pull-med-6 {
        margin-right: 50%;
    }
    .col-pull-med-7 {
        margin-right: 58.33333%;
    }
    .col-pull-med-8 {
        margin-right: 66.66667%;
    }
    .col-pull-med-9 {
        margin-right: 75%;
    }
    .col-pull-med-10 {
        margin-right: 83.33333%;
    }
    .col-pull-med-11 {
        margin-right: 91.66667%;
    }
    .col-pull-med-12 {
        margin-right: 100%;
    }
}

/**
 * Large Grid Pull Offset
 */

@media   (min-width: 48em) {
    .col-pull-lrg-1 {
        margin-right: 8.33333%;
    }
    .col-pull-lrg-2 {
        margin-right: 16.66667%;
    }
    .col-pull-lrg-3 {
        margin-right: 25%;
    }
    .col-pull-lrg-4 {
        margin-right: 33.33333%;
    }
    .col-pull-lrg-5 {
        margin-right: 41.66667%;
    }
    .col-pull-lrg-6 {
        margin-right: 50%;
    }
    .col-pull-lrg-7 {
        margin-right: 58.33333%;
    }
    .col-pull-lrg-8 {
        margin-right: 66.66667%;
    }
    .col-pull-lrg-9 {
        margin-right: 75%;
    }
    .col-pull-lrg-10 {
        margin-right: 83.33333%;
    }
    .col-pull-lrg-11 {
        margin-right: 91.66667%;
    }
    .col-pull-lrg-12 {
        margin-right: 100%;
    }
}

/**
 * XLarge Grid Pull Offset
 */

@media    (min-width: 62em) {
    .col-pull-xlrg-1 {
        margin-right: 8.33333%;
    }
    .col-pull-xlrg-2 {
        margin-right: 16.66667%;
    }
    .col-pull-xlrg-3 {
        margin-right: 25%;
    }
    .col-pull-xlrg-4 {
        margin-right: 33.33333%;
    }
    .col-pull-xlrg-5 {
        margin-right: 41.66667%;
    }
    .col-pull-xlrg-6 {
        margin-right: 50%;
    }
    .col-pull-xlrg-7 {
        margin-right: 58.33333%;
    }
    .col-pull-xlrg-8 {
        margin-right: 66.66667%;
    }
    .col-pull-xlrg-9 {
        margin-right: 75%;
    }
    .col-pull-xlrg-10 {
        margin-right: 83.33333%;
    }
    .col-pull-xlrg-11 {
        margin-right: 91.66667%;
    }
    .col-pull-xlrg-12 {
        margin-right: 100%;
    }
}

/**
 * XXLarge Grid Pull Offset
 */

@media   (min-width: 75em) {
    .col-pull-xxlrg-1 {
        margin-right: 8.33333%;
    }
    .col-pull-xxlrg-2 {
        margin-right: 16.66667%;
    }
    .col-pull-xxlrg-3 {
        margin-right: 25%;
    }
    .col-pull-xxlrg-4 {
        margin-right: 33.33333%;
    }
    .col-pull-xxlrg-5 {
        margin-right: 41.66667%;
    }
    .col-pull-xxlrg-6 {
        margin-right: 50%;
    }
    .col-pull-xxlrg-7 {
        margin-right: 58.33333%;
    }
    .col-pull-xxlrg-8 {
        margin-right: 66.66667%;
    }
    .col-pull-xxlrg-9 {
        margin-right: 75%;
    }
    .col-pull-xxlrg-10 {
        margin-right: 83.33333%;
    }
    .col-pull-xxlrg-11 {
        margin-right: 91.66667%;
    }
    .col-pull-xxlrg-12 {
        margin-right: 100%;
    }
}

/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

/*custom multiplyer*/

/* MARGIN TOP */

.spc--top--tny {
            margin-top: 6px;
        }

.spc--top--xsml {
            margin-top: 9px;
        }

.spc--top--sml {
            margin-top: 12px;
        }

.spc--top--med {
            margin-top: 24px;
        }

.spc--top--lrg {
            margin-top: 36px;
        }

.spc--top--xlrg {
            margin-top: 48px;
        }

.spc--top--xxlrg {
            margin-top: 60px;
        }

.spc--top--xxxlrg {
            margin-top: 72px;
        }

.spc--top--huge{
            margin-top: 90px;
        }

.spc--top--custom {
            margin-top: 76px;
        }

/* MARGIN RIGHT */

.spc--right--tny {
            margin-right: 6px;
        }

.spc--right--xsml {
            margin-right: 9px;
        }

.spc--right--sml {
            margin-right: 12px;
        }

.spc--right--med {
            margin-right: 24px;
        }

.spc--right--lrg {
            margin-right: 36px;
        }

.spc--right--xlrg {
            margin-right: 48px;
        }

.spc--right--xxlrg {
            margin-right: 60px;
        }

.spc--right--xxxlrg {
            margin-right: 72px;
        }

.spc--right--huge{
            margin-right: 90px;
        }

/* MARGIN BOTTOM */

.spc--bottom--tny {
            margin-bottom: 6px;
        }

.spc--bottom--xsml {
            margin-bottom: 9px;
        }

.spc--bottom--sml {
            margin-bottom: 12px;
        }

.spc--bottom--med {
            margin-bottom: 24px;
        }

.spc--bottom--lrg {
            margin-bottom: 36px;
        }

.spc--bottom--xlrg {
            margin-bottom: 48px;
        }

.spc--bottom--xxlrg {
            margin-bottom: 60px;
        }

.spc--bottom--xxxlrg {
            margin-bottom: 72px;
        }

.spc--bottom--huge{
            margin-bottom: 90px;
        }

/* MARGIN LEFT */

.spc--left--tny {
            margin-left: 6px;
        }

.spc--left--xsml {
            margin-left: 9px;
        }

.spc--left--sml {
            margin-left: 12px;
        }

.spc--left--med {
            margin-left: 24px;
        }

.spc--left--lrg {
            margin-left: 36px;
        }

.spc--left--xlrg {
            margin-left: 48px;
        }

.spc--left--xxlrg {
            margin-left: 60px;
        }

.spc--left--xxxlrg {
            margin-left: 72px;
        }

.spc--left--huge{
            margin-left: 90px;
        }

/* 
       ---------------------------------
       --   x-axis ->  left & right   --
       --   y-axis ->  top & bottom   --  
       ---------------------------------
    */

.spc--x--sml{
            margin: inherit 12px; 
        }

/*You can use spacers by axis*/

.spc--y--sml{
            margin: 12px inherit; 
        }

/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w--1 {
        width: 8.33333%;
    }

.w--2 {
        width: 16.66667%;
    }

.w--3 {
        width: 25%;
    }

.w--4 {
        width: 33.33333%;
    }

.w--5 {
        width: 41.66667%;
    }

.w--6 {
        width: 50%;
    }

.w--7 {
        width: 58.33333%;
    }

.w--8 {
        width: 66.66667%;
    }

.w--9 {
        width: 75%;
    }

.w--10 {
        width: 83.33333%;
    }

.w--11 {
        width: 91.66667%;
    }

.w--12 {
        width: 100%;
    }

.w--48 {
        width: 48px;
    }

.w--54 {
        width: 54px;
    }

.w--max--400 {
            max-width: 400px;
        }

.w--max--700 {
            max-width: 700px;
        }

.fullwidth {
    width: 100%;
}

/*------------------------------------*\
    # utils.align
\*------------------------------------*/

/* Horizontal align */

.align--h--center {
		    margin-left: auto;
		    margin-right: auto;
		}

.align--h--left {
		    margin-right: auto;
		}

.align--h--right {
		    margin-left: auto;
		}

/* Vertical align */

.align--v--top {
			vertical-align: top;
		}

.align--v--middle {
			vertical-align: middle;
		}

.align--v--bottom {
			vertical-align: bottom;
		}

.align--v--baseline {
			vertical-align: baseline;
		}

/*------------------------------------*\
    # utils.cursor
\*------------------------------------*/

.cursor--pointer {
		cursor: pointer;
	}

/*------------------------------------*\
    # utils.valign
\*------------------------------------*/

.valign--neg--2 {
    		vertical-align: -2px;
    	}

/*------------------------------------*\
    # utils.word-break
\*------------------------------------*/

.word-break--break-word {
		word-break: break-word;
    }

/*------------------------------------*\
    # utils.type
\*------------------------------------*/

/* Font letterform */

.type--sans {
        font-family: "Roboto", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    }

.type--serif {
        font-family: "TitilliumWeb", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
    }

/* Font sizes */

.type--tny {
        font-size: 10px;
        line-height: 18px;
    }

.type--xsml {
        font-size: 12px;
        line-height: 24px;
    }

.type--validation {
        font-size: 13px;
        line-height: 12px;
    }

.type--sml {
        font-size: 13px;
        line-height: 24px;
    }

.type--base {
        font-size: 14px;
        line-height: 24px;
    }

.type--med {
        font-size: 14px;
        line-height: 24px;
    }

@media   (min-width: 48em) {

.type--med {
            font-size: 19px;
            line-height: 30px
    }
        }

.type--lrg {
        font-size: 19px;
        line-height: 30px;
    }

@media   (min-width: 48em) {

.type--lrg {
            font-size: 23px;
            line-height: 36px
    }
        }

.type--xlrg {
        font-size: 23px;
        line-height: 36px;
    }

@media   (min-width: 48em) {

.type--xlrg {
            font-size: 28px;
            line-height: 48px
    }
        }

.type--xxlrg {
        font-size: 23px;
        line-height: 36px;
    }

@media   (min-width: 48em) {

.type--xxlrg {
            font-size: 33px;
            line-height: 48px
    }
        }

.type--xxxlrg {
        font-size: 28px;
        line-height: 36px;
    }

@media   (min-width: 48em) {

.type--xxxlrg {
            font-size: 40px;
            line-height: 48px
    }
        }

/* Font weights */

.type--wgt--thin {
            font-weight: 100;
        }

.type--wgt--light {
            font-weight: 300;
        }

.type--wgt--regular {
            font-weight: 400;
        }

.type--wgt--medium {
            font-weight: 500;
        }

.type--wgt--bold {
            font-weight: 700;
        }

/* Type colors */

.type--color--text {
            color: #222;
        }

.type--color--primary {
            color: #2aace2;
        }

.type--color--secondary {
            color: #2d3033;
        }

.type--color--negative {
            color: white;
        }

.type--color--warning {
            color: #f44336;
        }

.type--color--success {
            color: #4caf50;
        }

.type--color--note {
            color: #ffeb3b;
        }

/* Type case */

.type--uppercase {
        text-transform: uppercase;
    }

.type--lowercase {
        text-transform: lowercase;
    }

.type--narrow {
        letter-spacing: 0.0625em;
    }

.type--wide {
        letter-spacing: 0.1250em;
    }

/* Type positioning */

.type--center {
        text-align: center;
    }

.type--left {
        text-align: left;
    }

.type--right {
        text-align: right;
    }

/*------------------------------------*\
    # utils.floats
\*------------------------------------*/

.pull {
	float: left;
}

@media      (max-width: 33.9375em) {

.pull--to--sml {
		    	float: left
		}
			}

.push {
	float: right;
}

@media      (max-width: 33.9375em) {

.push--to--sml {
        float: right
    }
      }

/*------------------------------------*\
    # utils.height
\*------------------------------------*/

.h--100 {
		height: 100%;
	}

/*------------------------------------*\
    # components.separator
\*------------------------------------*/

.separator--primary--bottom {
            border-bottom: 1px solid rgb(173, 173, 173);
        }

.separator--primary--right {
            border-right: 1px solid rgb(173, 173, 173);
        }

.separator--last:last-child {
    		border-bottom: 1px solid transparent;
    	}

/*------------------------------------*\
    # utils.border
\*------------------------------------*/

.border--none {
		border: none;
	}

/*------------------------------------*\
    # utils.icon
\*------------------------------------*/

.icon {
    display: inline-block;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center center;
    /* background: svg-inline(nav); */
    /* background: svg-load('../images/icon.svg', fill: color($color-primary a(0.1))); */
}

/*------------------------------------*\
    # utils.wordbreak
\*------------------------------------*/

.wordbreak--breakall {
    	word-break: break-all;
    }

/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.display--b {
		display: block;
	}

.display--ib {
		display: inline-block;
	}

.display--none {
		display: none;
	}

/*------------------------------------*\
    # utils.flex
\*------------------------------------*/

.flex {
    display: flex;
}

/*column*/

.flex--column {
        flex-direction: column;
    }

/*justify*/

.flex--wrap {
        flex-wrap: wrap;
    }

.flex--justify--start {
            justify-content: flex-start;            
        }

.flex--justify--sb {
            justify-content: space-between;
        }

.flex--justify--end {
            justify-content: flex-end;
        }

.flex--justify--center {
            justify-content: center;
        }

.flex--justify--left {
            justify-content: left;
        }

.flex--align--start {
            align-items: flex-start;
        }

.flex--align--center {
            align-items: center;
        }

.flex--align--end {
            align-items: flex-end;
        }

/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

/*custom multiplyer*/

/* PADDING TOP */

.padd--top--tny {
            padding-top: 6px;
        }

.padd--top--xsml {
            padding-top: 9px;
        }

.padd--top--sml {
            padding-top: 12px;
        }

.padd--top--med {
            padding-top: 24px;
        }

.padd--top--lrg {
            padding-top: 36px;
        }

.padd--top--xlrg {
            padding-top: 48px;
        }

.padd--top--xxlrg {
            padding-top: 60px;
        }

.padd--top--xxxlrg {
            padding-top: 72px;
        }

.padd--top--huge{
            padding-top: 90px;
        }

/* PADDING RIGHT */

.padd--right--tny {
            padding-right: 6px;
        }

.padd--right--xsml {
            padding-right: 9px;
        }

.padd--right--sml {
            padding-right: 12px;
        }

.padd--right--med {
            padding-right: 24px;
        }

.padd--right--lrg {
            padding-right: 36px;
        }

.padd--right--xlrg {
            padding-right: 48px;
        }

.padd--right--xxlrg {
            padding-right: 60px;
        }

.padd--right--xxxlrg {
            padding-right: 72px;
        }

.padd--right--huge{
            padding-right: 90px;
        }

/* PADDING BOTTOM */

.padd--bottom--tny {
            padding-bottom: 6px;
        }

.padd--bottom--xsml {
            padding-bottom: 9px;
        }

.padd--bottom--sml {
            padding-bottom: 12px;
        }

.padd--bottom--med {
            padding-bottom: 24px;
        }

.padd--bottom--lrg {
            padding-bottom: 36px;
        }

.padd--bottom--xlrg {
            padding-bottom: 48px;
        }

.padd--bottom--xxlrg {
            padding-bottom: 60px;
        }

.padd--bottom--xxxlrg {
            padding-bottom: 72px;
        }

.padd--bottom--huge{
            padding-bottom: 90px;
        }

/* PADDING LEFT */

.padd--left--tny {
            padding-left: 6px;
        }

.padd--left--xsml {
            padding-left: 9px;
        }

.padd--left--sml {
            padding-left: 12px;
        }

.padd--left--med {
            padding-left: 24px;
        }

.padd--left--lrg {
            padding-left: 36px;
        }

.padd--left--xlrg {
            padding-left: 48px;
        }

.padd--left--xxlrg {
            padding-left: 60px;
        }

.padd--left--xxxlrg {
            padding-left: 72px;
        }

.padd--left--huge{
            padding-left: 90px;
        }

/* 
       ---------------------------------
       --   x-axis ->  left & right   --
       --   y-axis ->  top & bottom   --  
       ---------------------------------
    */

.padd--x--sml{
            padding: inherit 12px; 
        }

/*You can use spacers by axis*/

.padd--y--sml{
            padding: 12px inherit; 
        }

.padd--none {
        padding: 0 !important;
    }

.padd--sml {
        padding: 12px;
    }

/*------------------------------------*\
    # utils.positions
\*------------------------------------*/

.pos--rel {
		position: relative;
	}

.pos--fix {
		position: fixed;
	}

.pos--abs {
		position: absolute;
	}

/* @import utils.floats.css; */

/* @import utils.visibility.css; */

/**
* Import: plugins
* Description: 3rd party code, external plugin CSS etc
* Note: when importing code from a 3rd party it should be stripped off
* any vendor prefixes since autoprefixer will use project specific vendor prefixes
*/

/*------------------------------------*\
    # plugins.fontface
\*------------------------------------*/

@font-face {
  font-family: 'TitilliumWeb';
  src: url('assets/fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

/*------------------------------------*\
    # plugins.chamburger
\*------------------------------------*/

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  float: right;
  margin: 14px;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0s;
}

@media   (min-width: 75em) {

.c-hamburger {
    display: none
}
  }

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 13.75px;
  left: 5.625px;
  right: 5.625px;
  height: 2.4px;
  background: #2aace2;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2.4px;
  background-color: #2aace2;
  content: "";
}

.c-hamburger span::before {
  top: -6.25px;
}

.c-hamburger span::after {
  bottom: -6.25px;
}

.c-hamburger--htx span {
  transition: background 0s 0s;
}

.c-hamburger--x span::before,
.c-hamburger--x span::after {
  transition-duration: 0s, 0s;
  transition-delay: 0s, 0s;
}

.c-hamburger--x span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.c-hamburger--x span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.c-hamburger--x.is-active span {
  background: none;
}

.c-hamburger--x.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--x.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--x.is-active span::before,
.c-hamburger--x.is-active span::after {
  transition-delay: 0s, 0s;
}

/*------------------------------------*\
    # plugins.ui-input
\*------------------------------------*/

.ui-calendar {
	display: block;
}

.ui-calendar input {
		width: 100%;
	}

.ui-inputtext {
	height: 23px;
}

.ui-calendar-button svg {
		margin-top: 4px;
	}

.ui-calendar.ui-calendar-w-btn input {
	border-radius: 0;
}

.ui-calendar.ui-calendar-w-btn input:focus {
		box-shadow: none;
		border-color: rgb(89, 189, 232);
	}

.ui-widget.ui-button {
	background-color: transparent;
	color: #222;
	border-color: transparent;
}

.ui-widget.ui-button:enabled:hover,
.ui-widget.ui-button:focus,
.ui-widget.ui-button:hover {
	background-color: transparent;
	color: #222;
	border-color: transparent;
}

.ui-widget-header .ui-button,
.ui-widget-content .ui-button,
.ui-button {
	right: 0;
	margin-right: 0;
	border-color: transparent;
	background-color: #d4d4d4;
	color: #222;
	border-radius: 0;
}

.ui-widget-header .ui-button:enabled:hover,
.ui-widget-header .ui-button:focus,
.ui-widget-content .ui-button:enabled:hover,
.ui-widget-content .ui-button:focus,
.ui-button:enabled:hover,
.ui-button:focus {
	border-color: transparent;
	background: rgb(192, 192, 192);
	color: #222;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight,
.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
	background-color: #2aace2;
	color: #fff;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
	text-align: center;
}

.ui-datepicker .ui-datepicker-header a {
	padding-top: 2px;
	color: #fff;
}

/*------------------------------------*\
    # plugins.ui-dialog
\*------------------------------------*/

.ui-dialog {
	width: 100% !important;
	max-width: 700px;
	border: none;
}

/*------------------------------------*\
    # plugins.ui-paginator
\*------------------------------------*/

.ui-paginator {
	text-align: left;
	background-color: transparent !important;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev {
	width: auto;
	min-width: 24px;
	height: 24px;
	padding: 0 3px;
	border-color: transparent;
	line-height: 24px;
}

.ui-paginator .ui-paginator-pages {
	display: inline;
}

.pagination .ui-paginator {
	background-color: transparent !important;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
	background-color: #fff;
	color: #2aace2;
	border-color: transparent;
	opacity: 0.5;
}

/*------------------------------------*\
    # plugins.ui-dtepicker
\*------------------------------------*/

/* .ui-button-icon-left.ui-clickable.pi.pi-calendar {
	background-image: url('assets/images/icons/ic_date_range_black_24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: calc($unit * 2.5);
} */

.ui-calendar .ui-datepicker {
	width: 100%;
	max-width: 240px;
  min-width: 220px;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
	text-align: center;
}

.ui-datepicker .ui-datepicker-header a {
	padding-top: 2px;
	color: #fff;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
	background-color: transparent;
	font-weight: 700;
	color: inherit;
}

.ui-datepicker .ui-datepicker-header a:hover {
	color: #fff;
	background-color: #d4d4d4;
	opacity: 0.7;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
	background-color: #2aace2;
}

.pi.pi-chevron-left {
  height: 10px;
	background: url('assets/images/icons/baseline-chevron_left-24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 21px;
}

.pi.pi-chevron-left:before {
		display: none;
	}

.pi.pi-chevron-right {
  height: 10px;
	background: url('assets/images/icons/baseline-chevron_right-24px.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 21px;
}

.pi.pi-chevron-right:before {
		display: none;
	}

.ui-calendar .ui-calendar-button {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 21px;
}

/*------------------------------------*\
    # plugins.ui-picklist
\*------------------------------------*/

.ui-picklist .ui-picklist-buttons {
  vertical-align: middle;
  font-size: x-large !important;
}

/* @import plugins.select2.css; */

/* @import plugins.remodal.css; */

/**
* Import: shame
* Description: CSS shame file
* Note: to be avoided, exists only if REALLY necessary or legacy code
*/

/* @import shame.css; */

/* @import '../../node_modules/font-awesome/css/font-awesome.css'; */
