<div [formGroup]="group" class="field field--noheight">
  <h5 class="settings__title">{{ labelText | translate }}</h5>
  <div class="row">
    <div class="col col-sml-12 col-lrg-6">
      <div class="field--spaced--to--med">
        {{ 'FrontendConfiguration.EnglishVersion' | translate }} <input type="text" class="input input--sml" formControlName="en" />
      </div>
    </div>
    <div class="col col-sml-12 col-lrg-6">
      {{ 'FrontendConfiguration.GermanVersion' | translate }} <input type="text" class="input input--sml" formControlName="de" />
    </div>
  </div>    
</div>
