<div *ngIf="control.invalid && control.dirty" class="validation-summary">
  <ul *ngIf="control.errors" class="type--color--warning type--validation">
      <li *ngIf="control.errors['required']">{{'Validation.FieldRequired' | translate}}</li>
      <li *ngIf="control.errors['oidRegex']">{{'Validation.OidValidator' | translate}}</li>
      <li *ngIf="control.errors['profileTemplateIdRegex']">{{'Validation.ProfileTemplateIdNotValid' | translate}}</li>
      <li *ngIf="control.errors['guidRegex']">{{'Validation.GuidNotValid' | translate}}</li>
      <li *ngIf="control.errors['urlRegex']">{{'Validation.InvalidUrl' | translate}}</li>
      <li *ngIf="control.errors['intRegex']">{{'Validation.IntRegex' | translate}}</li>
      <li *ngIf="control.errors['range'] && maxInterval == null">{{ 'Validation.RangeMin' | translate: params}}</li>
      <li *ngIf="control.errors['duplicate']">{{'Validation.Duplicate' | translate}}</li>
      <li *ngIf="control.errors['pattern']">{{ 'Validation.HexPattern' | translate }}</li>
      <li *ngIf="control.errors['dateFormat']">{{ 'Validation.DateFormat' | translate }}</li>
  </ul>
</div>
