
<app-page-header [pageTitle]="'ActivitiesConfiguration.PageTitle'" [stepDescription]="'ActivitiesConfiguration.Description'"></app-page-header>
<form *ngIf="configurationForm" [formGroup]="configurationForm">
  <div class="sticky-wrapper">
  <div class="heading heading--tertiary" appSticky>
    <button type="button" class="btn btn--primary btn--sml spc--left--sml" (click)="onSubmit()">
      {{ "FormOptions.Save" | translate }}
    </button>
    <button type="button" class="btn btn--sml btn--clear" (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i>
      {{ "FormOptions.ResetForm" | translate }}
    </button>
  </div>
  </div>
  <div class="layout--main__content">
    <div class="row flex flex--wrap flex--justify--left spc--bottom--xlrg">
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="disableSmartcardForm" [labelText]="'Sidebar.DisableSmartcard'" [hasShowCommentsSection]="true" [hasContinueSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="rewriteSmartcardForm" [labelText]="'Sidebar.RewriteSmartcard'" [hasShowCommentsSection]="true" [hasContinueSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="manageRequestsForm" [labelText]="'Sidebar.ManageRequests'"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="enrollForm" [labelText]="'Sidebar.EnrollUser'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="unblockSmartcardForm" [labelText]="'Sidebar.UnblockSmartcard'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="recoverCertificateForm" [labelText]="'Sidebar.RecoverCertificate'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="reinstateForm" [labelText]="'Sidebar.ReinstateSmartcard'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="retireTemporarySmartcardForm" [labelText]="'Sidebar.RetireTemporarySmartcard'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="revokeCertificateForm" [labelText]="'Sidebar.RevokeCertificate'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="suspendSmartcardForm" [labelText]="'Sidebar.SuspendSmartcard'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
      <div class="col col-sml-12 col-xxxlrg-6 spc--bottom--tny">
        <div class="field h--100">
          <app-activity-form [group]="renewCertificateForm" [labelText]="'Sidebar.RenewCertificate'" [hasShowCommentsSection]="true"></app-activity-form>
        </div>
      </div>
    </div>
  </div>
</form>
