<header class="header">
    <button class="c-hamburger c-hamburger--x" appClickOutside (clickOutside)="onClickOutsideChangeMenuVisibility()" (click)="changeMenuVisibility()" [ngClass]="{'is-active': isActive }">
        <span>toggle menu</span>
      </button>
  <div class="header__logo__outer">
    <div class="header__logo__inner">
      <a href="" class="header__logo">
        <img *ngIf="imagePath" [src]="'data:image/png;base64,'+imagePath" class="header__logo__image">
      </a>
    </div>
  </div>
  <p class="header__text">
    {{ headerText }}
  </p>
  <div class="header__select">
    <span class="header__select__label">{{ 'Language' |translate }}</span>
    <select class="input input--sml input--select input--select--header input--auto" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
      <option *ngFor="let lang of availableLanguages" [ngValue]="lang">{{lang}}</option>
    </select>
  </div>
</header>
