<div [formGroup]="group" class="spc--top--sml">
  <div class="settings__title group">
    <h5 class="pull">
      {{ 'ProfileTemplateConfiguration.ReinstateDCIs' | translate }}
      <button [disabled]="group.disabled" type="button" class="btn btn--primary btn--sml type--sml spc--left--sml" (click)="addToList()">
        <i class="material-icons type--sml align--v--middle">add</i> {{ 'FrontendConfiguration.AddNew' | translate }}
      </button>
    </h5>
  </div>
    <table *ngIf="formArray.controls?.length > 0" class="table table--collapse table--noborder type--left">
      <thead>
        <tr>
          <th>{{ 'ProfileTemplateConfiguration.Name' | translate }}</th>
          <th>{{ 'ProfileTemplateConfiguration.Value' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody [formArrayName]="formArrayName">
        <tr *ngFor="let item of formArray.controls; let i = index;" [formGroupName]="i">
          <td>
            <input type="text" class="input input--sml" formControlName="name">
            <app-validation-error [control]="formArray.controls[i].get('name')"></app-validation-error>
          </td>
          <td>
            <input type="text" class="input input--sml" formControlName="value" >
            <app-validation-error [control]="formArray.controls[i].get('value')"></app-validation-error>
          </td>
          <td class="type--right">
            <button type="button" class="btn btn--reset type--sml type--color--warning push" (click)="removeFromList(i)">
              <i class="material-icons type--sml valign--neg--2">close</i> {{ 'FrontendConfiguration.Delete' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-validation-error [control]="formArray"></app-validation-error>
