<div class="heading heading--primary">
  <h3 class="heading__title">{{'Sidebar.ManageRequests' | translate}}</h3>
</div>
<div class="sticky-wrapper">
<div class="heading heading--tertiary" appSticky>
  <app-request-actions [requestList]="response" [isValidating]="isValidating" (getListEvent)="receiveGetListEvent($event)"></app-request-actions>
</div>
</div>
<div class="layout--main__content">
  <app-request-search-form (formStatusChange)="onFormStatusChange($event)" (submitEvent)="receiveSearchRequest($event)"></app-request-search-form>
  <app-distribute-secrets></app-distribute-secrets>
  <div *ngIf="response && response.items && response.items.length>0 else noItems">
    <div class="spc--bottom--sml">
      <div class="group">
        <div class="pull">
          <input type="checkbox" class="input--check" id="chb" (ngModel)="isChecked" (change)="markAll()" [disabled]="isValidating">
          <label for="chb">{{ 'ManageRequests.MarkAll' | translate }}</label>
        </div>
        <div class="push">
          {{ 'ManageRequests.TotalRecords' | translate}}: {{response.totalCount}}
        </div>
      </div>
      <div class="loader--horizontal__holder" *ngIf="isValidating">
        <div class="loader--horizontal__bar"></div>
      </div>
    </div>
    <div class="table__holder table__holder--primary">
      <table class="table">
        <thead class="table__header">
          <tr class="table__row">
            <th class="table__header__cell">
              <a [routerLink]="" (click)="targetUserAsc=!targetUserAsc; sort(byTargetUser, targetUserAsc);">{{ 'ManageRequests.TargetUser' | translate }}</a>
            </th>
            <th class="table__header__cell">
              <a [routerLink]="" (click)="originatorAsc=!originatorAsc; sort(byOriginator, originatorAsc);">{{ 'ManageRequests.Originator' | translate }}</a>
            </th>
            <th class="table__header__cell">
              <a [routerLink]="" (click)="typeAsc=!typeAsc; sort(byType, typeAsc);">{{ 'ManageRequests.Type' | translate }}</a>
            </th>
            <th class="table__header__cell">
              <a [routerLink]="" (click)="statusAsc=!statusAsc; sort(byStatus, statusAsc);">{{ 'ManageRequests.Status' | translate }}</a>
            </th>
            <th class="table__header__cell">
              {{ 'ManageRequests.Signature' | translate }}
            </th>
            <th class="table__header__cell">
              {{ 'ManageRequests.Details' | translate }}
            </th>
            <th class="table__header__cell">
              <a [routerLink]="" (click)="submittedAsc=!submittedAsc; sort(bySubmitted, submittedAsc);">{{ 'ManageRequests.DateSubmitted' | translate }}</a>
            </th>
            <th class="table__header__cell">
              <a [routerLink]="" (click)="targetTypeAsc=!targetTypeAsc; sort(byTargetType, targetTypeAsc);">{{ 'ManageRequests.TargetType' | translate }}</a>
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr *ngFor="let item of response.items; let i = index; trackBy: trackRequestById" (click)="!isValidating && selectRequest(item)" [class.is-active]="item['isActive']" class="table__row">
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.TargetUser' | translate }}">
              {{item.targetUserName}}
            </td>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Originator' | translate }}">
              {{item.originatorUserName}}
            </td>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Type' | translate }}">
              {{ 'ManageRequests.RequestTypeEnum.'+item.requestForm | translate }}
            </td>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Status' | translate }}">
              {{'ManageRequests.RequestStatusEnum.'+item.requestState | translate}}
            </td>
            <td *ngIf="item.signatureStatus else noSignature" class="table__cell" attr.aria-label="{{ 'ManageRequests.SignatureStatusEnum.' + item.signatureStatus | translate }}">
              {{ 'ManageRequests.SignatureStatusEnum.' + item.signatureStatus | translate }}
            </td>
            <ng-template #noSignature>
              <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Signature' | translate }}">
                {{ 'ManageRequests.NoSignature' | translate }}
              </td>
            </ng-template>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.Details' | translate }}">
              <button type="button" class="btn btn-link btn--reset btn--link--primary" (click)="showDetails(item.requestId, $event)">{{ 'ManageRequests.ShowDetails' | translate }}</button>
            </td>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.DateSubmitted' | translate }}">
              {{item.dateSubmitted | localizedDate}}
            </td>
            <td class="table__cell" attr.aria-label="{{ 'ManageRequests.TargetType' | translate }}">
              {{ 'ManageRequests.RequestTargetTypeNames.'+item.targetType | translate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
        <p-paginator class="pagination" [rows]="currentPaging.rows" [totalRecords]="currentPaging.totalRecords" [first]="currentPaging.getFirstItemIndex()" pageLinkSize="3"
                     (onPageChange)="getRequestsPageChange($event)"></p-paginator>
    </div>
  </div>
  <ng-template #noItems>
    <div *ngIf="!loading">
        {{ noDataMessage | translate }}
    </div>
  </ng-template>
  <app-request-details *ngIf="display" [display]="display" [requestId]="requestId" (displayChange)="onDialogClose($event)"></app-request-details>
</div>



