<app-page-header *ngIf="useHeader" [pageTitle]="pageTitle" [stepTitle]="stepTitle"></app-page-header>
<form (ngSubmit)="goToNextPage()" #dciForm="ngForm" [formGroup]="form" *ngIf="!isLoading">
  <div class="heading heading--tertiary">
    <app-previous-state-button></app-previous-state-button>
    <span class="btn__separator"></span>
    <button class="btn btn--sml btn--clear" type="submit">
      {{ 'ButtonNext.Text' | translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
    </button>
    <span class="btn__separator"></span>
    <app-cancel-button [url]="firstStepUrl"></app-cancel-button>
  </div>
  <div class="layout--main__content">
    <div *ngIf="dataCollection.hasElegibleDcis; else noDCIs">
        <app-validation-summary [form]="form"></app-validation-summary>
        <div class="row">
          <div class="col col-sml-12 col-med-6 col-lrg-4" *ngFor="let item of dataCollection?.dataCollectionItems" [ngClass]="{'has-error': isItemInvalid(item.name) === true}">
            <div class="field field--noheight field--alt" *ngIf="item.name.toLowerCase() !== dataCollection.signatureDciKey.toLowerCase()">
              <label [attr.for]="item.name">{{ item.name }} <span *ngIf="item.required" style="color:red">*</span></label>
              <div [ngSwitch]="item.dataType">
                <input *ngSwitchCase="dataCollectionItemDataType.String" type="text" [formControlName]="item.name" [id]="item.name" class="input input--sml">
                <input *ngSwitchCase="dataCollectionItemDataType.Number" type="text" class="input input--sml"
                       [formControlName]="item.name" [id]="item.name">
                <app-date-picker *ngSwitchCase="dataCollectionItemDataType.Date"  [controlName]="item.name" [group]="form" [id]="item.name" [control]="form.get(item.name)">
                </app-date-picker>
                <div class="input__note--ellipsis type--sml" [title]="item.description">{{item.description}}</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isItemRequired">
          {{ 'IndicatesRequired.Text' | translate }} <span style="color:red">*</span>
        </div>
    </div>
    <ng-template #noDCIs>
      {{ 'DataCollection.NoEligibleDCIs' | translate }}
    </ng-template>

  </div>
</form>
