<app-page-header [pageTitle]="'Sidebar.RetireTemporarySmartcard'" [stepTitle]="'SelectProfile.Title'" [stepDescription]="'SelectProfile.Description'"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--sml btn--clear" [disabled]="selectedProfile == null"
          (click)="goToNextStep(selectedProfile.id)">
    {{ 'ButtonNext.Text' | translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
  </button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="'/retire-temporary-smartcard'"></app-cancel-button>
</div>
<div class="layout--main__content">
    <ng-template #noProfiles>
        <div *ngIf="!isLoading">{{ 'SelectProfile.Table.NoProfileData' | translate}}</div>
      </ng-template>
  <div class="table__holder table__holder--alt" *ngIf="(profileDto?.profiles && profileDto.profiles.length > 0) else noProfiles">
    <table class="table">
      <thead class="table__header">
        <tr class="table__row">
          <th class="table__header__cell w--54"></th>
          <th class="table__header__cell">{{'SelectProfile.Table.Profile' | translate}}</th>
          <th class="table__header__cell">{{'SelectProfile.Table.Status' | translate}}</th>
          <th class="table__header__cell">{{'SelectProfile.Table.Issued' | translate}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of profileDto.profiles" class="table__body">
        <tr [ngClass]="{'is-disabled': isProfileDisabled(item)}" class="table__row" (click)="onProfileSelectionChange(item)">
          <td class="table__cell table__cell--middle">
            <input type="radio" class="input--radio input--radio--alt table__input" id="radio" name="profileGroup" [checked]="isProfileSelected(item)"
                   [disabled]="isProfileDisabled(item)" [value]="item.id" (change)="onProfileSelectionChange(item)">
            <label for="radio" class="table__label"></label>
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Profile' | translate}}">
            {{item.profileTemplate.name}}
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Status' | translate}}">
            {{'ProfileStatus.'+item.status | translate}}
          </td>
          <td class="table__cell table__cell--middle" attr.aria-label="{{'SelectProfile.Table.Issued' | translate}}">
            {{item.issued | localizedDate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
