<nav id="accordion" role="tablist" aria-multiselectable="true" class="nav">
  <div class="nav__title">
    Menu
  </div>
  <ul class="nav--primary__list">
    <li class="nav--primary__item">
      <a class="nav--primary__link" routerLinkActive="active" routerLink="/home" (click)="removeWizardData()">
        {{ 'Sidebar.Dashboard' | translate }} <span class="sr-only">(current)</span>
      </a>
    </li>
    <li *ngIf="isAdministrationPageVisible" class="nav--primary__item">
      <a class="nav--primary__link cursor--pointer" [ngClass]="{'active': isAdminMenuVisible }" (click)="onAdministrationMenuClick()">
        {{ 'Sidebar.Administration' | translate }}
      </a>
      <ul class="nav--secondary__list" [ngClass]="{'active': isAdminMenuVisible }" [routerLinkActive]="['in']">
        <li *ngFor="let subItem of administrationActivities" class="nav--secondary__item" routerLinkActive="active">
          <a class="nav--secondary__link cursor--pointer" [ngClass]="{'is-active': subItem.isActive }" (click)="onAdministrationSubitemClick(subItem)">
            {{ subItem.translationKey | translate }}
          </a>
        </li>
      </ul>
    </li>
    <li *ngFor="let activity of activities" class="nav--primary__item">
      <a *ngIf="activity.name !=='Administration'" class="nav--primary__link" routerLinkActive="active" [routerLink]="[activity.path]" (click)="onActivityClick()">{{ activity.translationKey | translate }}</a>
    </li>
  </ul>
  <p class="sidebar__footer">
    {{ footerText }}
    {{ 'FrontendConfiguration.ProductVersion' | translate }}: {{ productVersion }}
  </p>
</nav>

