﻿body {
    background-color: #F0F0F0;
}

.heading {
    background-color: #F0F0F0;
}

.heading__title {
    color: #2B2B2B;
}

.layout--aside {
    background-color: #1F2226;
}

.nav--primary__link {
    color: #f2f2f2;
}

.nav--secondary__link {
    color: #f2f2f2;
}

.nav--secondary__list{ 
    background-color: #2D3033;
}

.nav--primary__link.active {
    background-color: #2B2B2B;
    color: #2AACE2;
}

.nav--primary__link.active:before {
    background-color: #2AACE2;
}

.nav--secondary__link.is-active {
    background-color: #2B2B2B;
    color: #2AACE2;
}

.nav--secondary__link.is-active:before {
    background-color: #2AACE2;
}

.nav--primary__link:focus, .nav--primary__link:hover {
    color: #2aace2;
}

.nav--secondary__link:focus, .nav--secondary__link:hover {
    color: #2aace2;
}

.note:before {
    background-color: #2AACE2;
}

@media only screen and (min-width: 992px) {
    .table {
        background-color: #FFF;
    }
}

.table__header__cell {
    color: #FFF;
}

.table__row {
    color: #2B2B2B;
}

.table__row.is-active {
    background-color: #E4E4E4;
    color: #2AACE2;
}

.ui-widget-header {
    color: #FFF !important;
    background: #1F2226 !important;
}
