<div [formGroup]="group" class="spc--top--sml">
  <div class="settings__title group">
      <h5 class="pull--from--sml">
          {{ listTitle | translate }}
      </h5>
      <div class="push--from--sml">
          <button type="button" class="btn btn--reset btn--link btn--sml type--sml" (click)="addToList(stringFormArray)">
              <i class="material-icons type--sml align--v--middle">add</i> {{buttonTitle | translate}}
          </button>
      </div>
  </div>
  <div class="row">
      <div [formArrayName]="ArrayName" *ngFor="let item of stringFormArray.controls; let i = index;" class="col col-sml-12 col-lrg-4">
          <div [formGroupName]="i" class="spc--top--xsml" id="{{listTitle}}_{{i}}">
              <p class="settings__title group">
                  {{ itemTitle | translate }}
                  <button type="button" class="btn btn--reset type--sml btn--link--warning push spc--right--sml"
                      (click)="removeFromList(stringFormArray, i)"><i class="material-icons type--sml valign--neg--2">close</i>
                      Delete</button>
              </p>
              <app-autocomplete-pair
                [labelText]="itemTitle"
                [type]="type"
                [group]="stringFormArray.controls[i]">
              </app-autocomplete-pair>
          </div>
      </div>
  </div>
</div>
