
<div *ngIf="auditResult">
  <div class="heading heading--primary">
    <h3 *ngIf="auditResult.isSuccessful else failedTitle" class="heading__title">{{'Finish.Title' | translate}}</h3>
    <ng-template #failedTitle>
      <h3 class="heading__title">{{'Failed.Title' | translate}}</h3>
    </ng-template>
  </div>
  <div class="heading heading--tertiary">
    <button class="btn btn--primary btn--sml" (click)="goToBegining()">{{ 'Finish.Button.Restart' | translate }}</button>
  </div>
  <div class="layout--main__content">
    <div class="type--center">
      <p>{{ auditResult.description | translate}}</p>
    </div>
    <div *ngIf="auditResult.otp" class="type--center">
      <p>{{ 'FinishRequest.OneTimePassword' | translate }} : {{ auditResult.otp }} </p>
    </div>
    <div *ngIf="error && !auditResult.isSuccessful" class="validation-summary spc--bottom--med type--center">
      <p >{{ errorMessage }}</p>
    </div>
  </div>
</div>


