<app-page-header [pageTitle]="'Sidebar.EnrollUser'" [stepTitle]="'SelectProfileTemplate.Title'" [stepDescription]="'SelectProfileTemplate.Description'"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--clear btn--sml" [disabled]="selectedProfileTemplate == null" (click)="goToNextPage()">
    {{ 'ButtonNext.Text'| translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
  </button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="'/enroll-user'"></app-cancel-button>
</div>
<div class="layout--main__content" >
  <ng-template #noData >
      <div *ngIf="!loading">
          <span>
            {{'SelectProfileTemplate.NoProfileTemplateData' | translate}}
          </span>
        </div>
  </ng-template>
  <div class="field field--noheight" *ngIf="profileTemplates != null && profileTemplates.length > 0; else noData">
    <ul class="list" >
      <li *ngFor="let item of profileTemplates; let idx = index" class="list__item">
        <input type="radio" class="input--radio" [attr.id]="item.name" name="profileGroup" [checked]="isProfileSelected(item)" [value]="item.profileTemplateId" (change)="onProfileTemplateSelectionChange(item)">
        <label [attr.for]="item.name">{{item.name}}</label>
      </li>
    </ul>
  </div>
</div>
