<div [formGroup]="group" *ngIf="group">
  <label class="type--wgt--bold">{{ labelText | translate }}</label>
  <div class="spc--bottom--sml">
    <div *ngIf="hasShowCommentsSection">
      <input type="checkbox" class="input--check" [id]="labelText" formControlName="showComments">
      <label [for]="labelText">{{'ActivitiesConfiguration.ShowComments' | translate }}</label>
    </div>
    <div *ngIf="hasContinueSection">
      <input type="checkbox" class="input--check" [id]="labelText+2" formControlName="continue">
      <label [for]="labelText+2">{{ 'ActivitiesConfiguration.Continue' | translate }}</label>
    </div>
  </div>
  <app-form-array-list
    [configurationGroup]="group"
    [labelText]="'ActivitiesConfiguration.AuthorizedGroups'"
    [formArrayName]="'authorizedGroups'">
  </app-form-array-list>
</div>
