<app-page-header  [pageTitle]="'Sidebar.UnblockSmartcard'" [stepTitle]="'UnblockSmartcard.ChallengeResponse'"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button [disabled]="true"></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--clear btn--sml" (click)="goToNextPage()">{{ 'ButtonRestart.Text' | translate }}</button>
</div>
<div class="layout--main__content">
  <div class="section--alt section--bordered padd--sml">
    <span>{{'UnblockSmartcard.Response' | translate}}:</span>
    <span class="type--color--success">{{response}}</span>
  </div>
</div>
