<app-page-header  [pageTitle]="'Sidebar.UnblockSmartcard'" [stepTitle]="'UnblockSmartcard.EnterChallenge'"></app-page-header>
<div class="heading heading--tertiary">
  <app-previous-state-button [disabled]="true"></app-previous-state-button>
  <span class="btn__separator"></span>
  <button class="btn btn--clear btn--sml" (click)="goToNextPage()">
    {{ 'ButtonNext.Text' | translate }} <i class="material-icons type--sml valign--neg--2">chevron_right</i>
  </button>
  <span class="btn__separator"></span>
  <app-cancel-button [url]="'/unblock-smartcard'"></app-cancel-button>
</div>
<div class="layout--main__content">
  <ul class="validation-summary">
    <li *ngIf="challenge.touched && !challenge.value" class="type--color--warning">
      {{'UnblockSmartcard.Required' | translate}}
    </li>
    <li *ngIf="challenge.invalid && challenge.touched" class="type--color--warning spc--bottom--sml">
      {{'UnblockSmartcard.Valid' | translate}}
    </li>
  </ul>
  <div class="row">
    <div class="col col-sml-12 col-med-6 col-lrg-4">
      <div class="field">
        <label>{{'UnblockSmartcard.ChallengeFieldset' | translate}}</label>
        <input name="challengeName" class="input input--sml" [formControl]="challenge">
      </div>
    </div>
  </div>
</div>
