
<app-page-header [pageTitle]="'FrontendConfiguration.PageTitle'" [stepDescription]="'FrontendConfiguration.Description'"></app-page-header>
<form *ngIf="configurationForm" [formGroup]="configurationForm">
  <div class="sticky-wrapper">
  <div class="heading heading--tertiary" appSticky>
    <button type="button" class="btn btn--primary btn--sml spc--left--sml" (click)="onSubmit()">
      {{ "FormOptions.Save" | translate }}
    </button>
    <button type="button" class="btn btn--sml btn--clear" (click)="resetForm()">
      <i class="material-icons type--sml valign--neg--2">close</i>
      {{ "FormOptions.ResetForm" | translate }}
    </button>
  </div>
  </div>
  <div class="layout--main__content">
      <div class="row spc--bottom--xlrg">
          <div class="col col-sml-12 col-xxxlrg-6">
            <app-page-text-item [group]="welcomeTextForm" [labelText]="'FrontendConfiguration.WelcomeText'"></app-page-text-item>
          </div>
          <div class="col col-sml-12 col-xxxlrg-6">
            <app-page-text-item [group]="footerTextForm" [labelText]="'FrontendConfiguration.FooterText'"></app-page-text-item>
          </div>
          <div class="col col-sml-12 col-xxxlrg-6">
            <app-page-text-item [group]="headerTextForm" [labelText]="'FrontendConfiguration.HeaderText'"></app-page-text-item>
          </div>
          <div class="col col-sml-12 col-xxxlrg-6">
            <app-page-text-item [group]="contactAddressForm" [labelText]="'FrontendConfiguration.ContactAddress'"></app-page-text-item>
          </div>
          <div class="col col-sml-12 col-xxxlrg-6">
            <app-page-text-item [group]="helpDeskTextForm" [labelText]="'FrontendConfiguration.HelpDeskInstruction'"></app-page-text-item>
          </div>
        </div>
  </div>
</form>
