<app-page-header [pageTitle]="'Sidebar.Logging'"></app-page-header>
<div class="layout--main__content">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="filters">
      <div class="row">
        <div class="col col-sml-12 col-med-12 col-lrg-8 col-xlrg-4">
          <div class="field">
            <label>{{'Logging.Filter.SearchTerm' | translate}}</label>
            <input type="text" class="input input--sml" formControlName="searchInput" />
          </div>
        </div>
        <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
          <div class="field">
            <label>{{ 'Logging.Filter.From' | translate }}</label>
            <app-date-picker [controlName]="'from'" [group]="searchForm" [control]="searchForm.get('from')"></app-date-picker>
          </div>
        </div>
        <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
          <div class="field">
            <label>{{ 'Logging.Filter.To' | translate }}</label>
            <app-date-picker [controlName]="'to'" [group]="searchForm" [control]="searchForm.get('to')"></app-date-picker>
          </div>
        </div>
        <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
          <div class="field">
            <label>{{ 'Logging.Filter.LogLevel.Title' | translate }}</label>
            <select class="input input--select input--sml" formControlName="logLevel">
              <option value="">{{ 'Logging.Filter.LogLevel.Selection_PleaseSelect' | translate }}</option>
              <option *ngFor="let logLevel of logLevelKeys()" [ngValue]="logLevelValues[logLevel]">
                {{ 'Logging.Filter.LogLevel.' + logLevel | translate }}
              </option>
            </select>
          </div>
        </div>
        <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-2">
          <div class="field">
            <label>{{ 'Logging.Filter.AuditLogs.Title' | translate }}</label>
            <select class="input input--select input--sml" formControlName="auditLogs">
              <option value="">{{ 'Logging.Filter.AuditLogs.Selection_PleaseSelect' | translate }}</option>
              <option value="true">{{ 'Logging.Filter.AuditLogs.Selection_Yes' | translate }}</option>
              <option value="false">{{ 'Logging.Filter.AuditLogs.Selection_No' | translate }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="filters__action">
      <button type="submit" class="btn btn--primary btn--filters">
        <i class="material-icons type--lrg align--v--middle">search</i>
      </button>
      </div>
    </div>
  </form>
  <ng-template #noItems>
      <span *ngIf="!isLoading">{{'Logging.Table.NoData' | translate}}</span>
    </ng-template>
  <div class="table__holder table__holder--tertiary"  *ngIf="response && response.items.length > 0 else noItems">
    <table class="table">
      <thead class="table__header">
        <tr class="table__row table__row--nopointer">
          <th class="table__header__cell">{{'Logging.Table.Date' | translate }}</th>
          <th class="table__header__cell">{{'Logging.Table.LogLevel' | translate }}</th>
          <th class="table__header__cell">{{'Logging.Table.Message' | translate }}</th>
          <th class="table__header__cell">{{'Logging.Table.User' | translate }}</th>
          <th class="table__header__cell">{{'Logging.Table.System' | translate }}</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr *ngFor="let item of response.items; trackBy: trackLogByDate" class="table__row table__row--nopointer">
          <td class="table__cell" attr.aria-label="{{'Logging.Table.Date' | translate }}">{{item.logDate | localizedDate }}</td>
          <td class="table__cell" attr.aria-label="{{'Logging.Table.LogLevel' | translate }}">{{item.logLevel}}</td>
          <td class="table__cell" attr.aria-label="{{'Logging.Table.Message' | translate }}">
            <button type="button" class="btn btn-link btn--reset btn--link--primary" (click)="showDetails(item, $event)">{{ 'Logging.Table.MessageDetails' | translate }}</button>
          </td>
          <td class="table__cell" attr.aria-label="{{'Logging.Table.User' | translate }}">{{item.user}}</td>
          <td class="table__cell" attr.aria-label="{{'Logging.Table.System' | translate }}">{{item.system}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!isLoading">
  <div *ngIf="response">
    <p-paginator class="pagination" [rows]="currentPaging.rows" [first]="currentPaging.getFirstItemIndex()" [totalRecords]="currentPaging.totalRecords" (onPageChange)="manageTable($event)" pageLinkSize="3"></p-paginator>
    </div>
  </div>
  <app-logging-details *ngIf="display" [showPanel]="display" [logEntry]="logEntry" (displayChange)="onDialogClose($event)"></app-logging-details>
</div>
