<div *ngIf="errors?.length > 0" class="validation-summary spc--bottom--med">
  <ul class="type--color--warning">
    <li *ngFor="let error of errors">{{ error.key | translate:error.params }}</li>
  </ul>
</div>
